<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper inner-content-wrapper" id="add-new-event" cg-busy="{promise:myPromise,templateUrl:'./style/ngTemplate/cgBusy.html',minDuration:700}">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="" ng-click="backHome()"> Homepage </a><i class="fa fa-chevron-right small"></i> <a href="" ng-click=""> Events Management </a><i class="fa fa-chevron-right small"></i><a href=""> Create Event </a></li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Create New Event </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="View Create Event Form">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <!-- form start -->
                    <div class="box-body">
                        <div class="box green-box">    
                            <form role="form" ng-submit='submitEventInfo()' name='eventForm'>
                                <!-- COMPULSORY INFORMATION SECTION -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Event Title</label><span class="required">*</span>
                                        <input type="text" ng-model="newEvent['event_title']" ng-maxlength="200" ng-required="true" name="eventTitle" class="form-control">
                                        <span ng-show="eventForm.eventTitle.$error.maxlength" class='error'>Input for 'Event Title' is too long.</span>
                                        <span ng-show="eventForm.eventTitle.$error.required && eventForm.eventTitle.$touched" class="error">Event Title is required.</span>
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px; margin-bottom:0px;">
                                        <div class="col-md-3" style="padding:0px;">
                                            <label>Start Date</label><span class="required">*</span>&nbsp;<span>{{dayOfStartDate}}</span>
                                            <div class="input-group date">
                                                <div class="input-group-addon btn" ng-click="openStart()">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" name="eventStartDate" class="form-control white-background" ng-required="true" ng-click="openStart()" uib-datepicker-popup="{{format}}" ng-model="newEvent['event_start_date']" is-open="openedStart" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" readonly>
                                            </div>
                                            <span ng-show="eventForm.eventStartDate.$error.required && eventForm.eventStartDate.$touched" class="error">Event Start Date is required.</span>
                                        </div>
                                        <div class="col-md-3" style="padding:0px;">
                                            <label>Start Time</label><span class="required">*</span>
                                            <div uib-timepicker ng-required="true" ng-model="newEvent['event_time_start']" mousewheel='false' show-spinners='false' name='eventStartTime'></div>
                                            <span ng-show="eventForm.eventStartTime.$error.required && eventForm.eventStartTime.$touched" class="error">Start Time is required.<br></span>
                                            <!--                                            <span ng-show="(newEvent['event_start_date'] == newEvent['event_end_date']) && (newEvent['event_time_start'] >= newEvent['event_time_end']) && eventForm.eventStartTime.$touched" class="error">Start Time cannot be after End Time.</span>-->
                                        </div>
                                        <div class="col-md-3" style="padding:0px;">
                                            <label>End Date</label><span class="required">*</span>&nbsp;<span>{{dayOfEndDate}}</span>
                                            <div class="input-group date">
                                                <div class="input-group-addon btn" ng-click="openEnd()">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" name="eventEndDate" class="form-control white-background" ng-required="true" ng-click="openEnd()" uib-datepicker-popup="{{format}}" ng-model="newEvent['event_end_date']" is-open="openedEnd" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" readonly>
                                            </div>
                                            <span ng-show="eventForm.eventEndDate.$error.required && eventForm.eventEndDate.$touched" class="error">Event End Date is required.<br></span>
                                            <span ng-show="(newEvent['event_start_date'] > newEvent['event_end_date']) && eventForm.eventEndDate.$touched" class="error">End Date cannot be before Start Date.</span>
                                        </div>
                                        <div class="col-md-3" style="padding: 0px">
                                            <label>End Time</label><span class="required">*</span>
                                            <div uib-timepicker ng-required="true" ng-model="newEvent['event_time_end']" mousewheel='false' show-spinners='false' name='eventEndTime'></div>
                                            <span ng-show="eventForm.eventEndTime.$error.required && eventForm.eventEndTime.$touched" class="error">End Time is required.<br></span>
                                            <!--                                            <span ng-show="(newEvent['event_start_date'] == newEvent['event_end_date']) && (newEvent['event_time_start'] >= newEvent['event_time_end']) && eventForm.eventEndTime.$touched" class="error">End Time cannot be before Start Time.</span>-->
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding-left:0px; padding-top:15px; margin-bottom: 10px;">
                                        <div class="col-md-3" style="padding:0px;">
                                            <label>Send Reminder</label>
                                            &nbsp;<i class="fa fa-question-circle" uib-popover="Send a reminder when event is approaching" popover-trigger="mouseenter"></i>
                                            &nbsp;<input icheck-green type="checkbox" ng-model="newEvent['send_reminder']"/>
                                        </div>
                                        <div class="col-md-5" ng-show="newEvent['send_reminder']" ng-init="retrieveContact()">
                                            <div ng-hide="verifiedEmail.length===0">
                                                <label>Select Email</label>
                                                <select class="form-control" ng-model="newEvent['reminder_email']">
                                                    <option ng-repeat="email in verifiedEmail">{{email}}</option>
                                                </select>
                                            </div>
                                            <div ng-show="verifiedEmail.length===0">
                                                <span class="error">You do not have any verified email.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding:0px;">
                                            <span><a href="" ng-click="showRepeat()">Repeating Event?</a></span>
                                            <div ng-show="newEvent['repeat']['mode'] != ''">
                                                <div ng-show="newEvent['repeat']['mode'] == 'Daily'">
                                                    Repeat <span>{{newEvent['repeat']['mode']}}</span>, Every <span>{{newEvent['repeat']['repeat_every_daily']}}</span> day(s). <span ng-show="newEvent['repeat']['end_occurence_daily'] != ''"> Ends after {{newEvent['repeat']['end_occurence_daily']}} occurrences.</span><span ng-show="newEvent['repeat']['end_on_daily'] != ''"> Ends on {{newEvent['repeat']['end_on_daily']}}.</span>
                                                    <a href="" ng-click="removeRepeat()"><i class="fa fa-times fa-md" uib-tooltip-placement="top" uib-tooltip="Cancel" aria-hidden="true" style='color: red'></i></a>
                                                </div>
                                                <div ng-show="newEvent['repeat']['mode'] == 'Weekly'">
                                                    Repeat <span>{{newEvent['repeat']['mode']}}</span>, Every <span>{{newEvent['repeat']['repeat_every_weekly']}}</span> week(s). <span ng-show="count != 0">On {{string}}.</span>
                                                    <a href="" ng-click="removeRepeat()"><i class="fa fa-times fa-md" uib-tooltip-placement="top" uib-tooltip="Cancel" aria-hidden="true" style='color: red'></i></a>
                                                </div> 
                                                <div ng-show="newEvent['repeat']['mode'] == 'Monthly'">
                                                    Repeat <span>{{newEvent['repeat']['mode']}}</span>, Every <span>{{newEvent['repeat']['repeat_every_monthly']}}</span> month(s). <span>By {{newEvent['repeat']['repeat_by']}}.</span>
                                                    <a href="" ng-click="removeRepeat()"><i class="fa fa-times fa-md" uib-tooltip-placement="top" uib-tooltip="Cancel" aria-hidden="true" style='color: red'></i></a>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label>Event Description</label><i class="fa fa-question-circle" style="margin-left:3px;" uib-popover="Tell them what the event is about!" popover-trigger="mouseenter"></i>
                                        <textarea class="custom-remarks" ng-model="newEvent['event_description']" ng-maxlength="2000" name="eventDescription" contenteditable="true" spellcheck="true"></textarea>
                                        <span ng-show="eventForm.eventDescription.$error.maxlength" class='error'>Input for 'Event Description' is too long.</span>
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                        <div class="col-md-3" style="padding: 0px">
                                            <label>Minimum participation</label><i class="fa fa-question-circle" style="margin-left:3px;" uib-popover="Send an alert if min. participation is not met" popover-trigger="mouseenter"></i>
                                            <input type='text' ng-model="newEvent['minimum_participation']" name="minimumParticipation" class="form-control white-background" min="0" ng-pattern="regex" placeholder='1'/>
                                            <span ng-show="eventForm.minimumParticipation.$invalid" class='error'>Please enter a valid integer.</span>
                                        </div>
                                        <div class="col-md-offset-1 col-md-2" style="padding: 0px">
                                            <label>Event Class</label><span class="required">*</span>
                                            <div ng-init="loadEventClassList()">
                                                <select ng-required="true" name="eventClass" class="form-control" ng-model="newEvent['event_class']">
                                                    <option ng-repeat="eventClass in eventClassList">{{eventClass.eventClass}}</option>
                                                </select>     
                                            </div>
                                            <span ng-show="eventForm.eventClass.$error.required && eventForm.eventClass.$touched" class="error">Event Class is required.</span>
                                        </div>  
                                        <div class="col-md-offset-1 col-md-2" style="padding: 0px">
                                            <label>Event Location</label><span class="required">*</span>
                                            <div ng-init="loadEventLocationList()">
                                                <select ng-required="true" name="eventLocation" class="form-control" ng-model="newEvent['event_location']" ng-change="locationChange(newEvent['event_location'])">
                                                    <option ng-repeat="eventLocation in eventLocationList">{{eventLocation.eventLocation}}</option>
                                                </select>     
                                            </div>
                                            <span ng-show="eventForm.eventLocation.$error.required && eventForm.eventLocation.$touched" class="error">Location is required.</span>
                                        </div>
                                        <div class="col-md-offset-1 col-md-2" style="padding: 0px">
                                            <label>Event Status</label><span class="required">*</span>
                                            <div ng-init="loadEventStatusList()">
                                                <select ng-required="true" name="eventStatus" class="form-control" ng-model="newEvent['event_status']">
                                                    <option ng-repeat="eventStatus in eventStatusList">{{eventStatus.eventStatus}}</option>
                                                </select>     
                                            </div>
                                            <span ng-show="eventForm.eventStatus.$error.required && eventForm.eventStatus.$touched" class="error">Event Status is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12" style="padding:0px;">
                                        <div class="col-md-8" style="padding:0px;">
                                            <label>Address</label><span class="required">*</span>
                                            <input type="text" class="form-control" ng-required="true" ng-model="newEvent['address']" ng-maxlength="1000" name="address">
                                            <span ng-show="eventForm.address.$error.maxlength" class='error'>Input for 'Address' is too long.</span>
                                            <span ng-show="eventForm.address.$error.required && eventForm.address.$touched" class='error'>Input for 'Address' is required.</span>
                                        </div>
                                        <div class="col-md-offset-1 col-md-3" style="padding:0px;">
                                            <label>Zipcode</label>
                                            <input type="text" class="form-control" ng-model="newEvent['zipcode']" ng-maxlength="20" name="zipcode">
                                            <span ng-show="eventForm.zipcode.$error.maxlength" class='error'>Input for 'Zipcode' is too long.</span>
                                        </div>
                                    </div>
                                    <div>
                                        <label>Add Google Maps</label><i class="fa fa-question-circle" style="margin-left:3px;" uib-popover="Search location below to add a marker" popover-trigger="mouseenter"></i>
                                        &nbsp;<input icheck-green type="checkbox" ng-model="showGoogleMaps"/>
                                    </div>
                                    <div class="form-group col-md-12" style="padding:0px;">
                                        <h4 class="bold">Remarks</h4>
                                        <textarea class="custom-remarks" ng-model="newEvent['remarks']" ng-maxlength="1000" name="remarks" contenteditable="true" spellcheck="true"></textarea>
                                        <span ng-show="eventForm.remarks.$error.maxlength" class='error'>Input for 'Remarks' is too long.</span>
                                    </div>
                                </div>
                                <div ng-show='showGoogleMaps'>
                                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' control='map.control'>
                                        <ui-gmap-marker idkey='marker.id' coords='marker.coords'></ui-gmap-marker>
                                        <ui-gmap-search-box template="searchbox.template" events='searchbox.events' options="searchbox.options"></ui-gmap-search-box>
                                    </ui-gmap-google-map>
                                </div>
                                <div class="box-footer">
                                    <center>
                                        <button class="btn btn-primary" type="submit" ng-click="createEvent()" 
                                                ng-disabled="eventForm.eventTitle.$error.maxlength || eventForm.eventTitle.$error.required || eventForm.minimumParticipation.$invalid || eventForm.address.$error.required
                                                                    || eventForm.eventStartDate.$error.required || eventForm.eventEndDate.$error.required || eventForm.eventStartTime.$error.required || eventForm.eventEndTime.$error.required
                                                                    || eventForm.eventDescription.$error.maxlength || eventForm.eventClass.$error.required || eventForm.eventLocation.$error.required || eventForm.eventStatus.$error.required
                                                                    || eventForm.address.$error.maxlength || eventForm.zipcode.$error.maxlength || (showGoogleMaps && newEvent['event_lat'] == '' && newEvent['event_lng'] == '') || (newEvent['event_start_date'] > newEvent['event_end_date'])"
                                                >
                                            Save and proceed
                                        </button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
    </body>
</html>
