<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper inner-content-wrapper" id="view-indiv-event" cg-busy="{promise:myPromise,templateUrl:'./style/ngTemplate/cgBusy.html',minDuration:700}">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb" style="margin-bottom: 0px;">
                        <li><i class="fa fa-home"></i><a href="" ng-click="backHome()"> Homepage </a><i class="fa fa-chevron-right small"></i> <a href="" ng-click="toEvents()"> Events Management </a><i class="fa fa-chevron-right small"></i><a href=""> View Event </a><i class="fa fa-chevron-right small"></i><a href=""> {{eventInfo.event_title}} </a></li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content" ng-init="retrieveEvent()">
                <div ng-if='showGmap'>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' control='map.control'>
                        <ui-gmap-marker idkey='marker.id' coords='marker.coords'></ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
                <!--Box to show event details--> 
                <div class="box" style="margin-top:20px;">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Event Details </h3>
                        <button type="submit" ng-click="editEvent()" class="btn btn-primary" ng-if='eventInfo["canEdit"]'>
                            <span>
                                <i class="fa fa-edit fa-lg" aria-hidden="true" style='color: white; margin-right:5px'></i>
                            </span>   
                            Edit Event
                        </button>
                    </div>
                    <div class="box-body">
                        <div class="box green-box">    
                            <div class="row col-sm-12">
                                <div class="col-sm-6">
                                    <h4 class="bold">Event Title</h4>
                                    <div class="custom-height-1">{{eventInfo.event_title}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Status</h4>
                                    <div class="custom-height-1">{{eventInfo.event_status}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Start Date</h4>
                                    <div class="custom-height-1">{{eventInfo.event_start_date}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">End Date</h4>
                                    <div class="custom-height-1">{{eventInfo.event_end_date| date:'dd-MMM-yyyy'}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Start Time</h4>
                                    <div class="custom-height-1">{{eventInfo.view_time_start}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">End Time</h4>
                                    <div class="custom-height-1">{{eventInfo.view_time_end}}</div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-12">
                                        <h4 class="bold">Description</h4>
                                        <div class="custom-height-1">{{eventInfo.event_description}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Min. Participation</h4>
                                    <div class="custom-height-1">{{eventInfo.minimum_participation}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Event Class</h4>
                                    <div class="custom-height-1">{{eventInfo.event_class}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Location</h4>
                                    <div class="custom-height-1">{{eventInfo.event_location}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Send Reminder?</h4>
                                    <div ng-show="eventInfo['send_reminder'] == 'true'" class="custom-height-1">Yes</div>
                                    <div ng-hide="eventInfo['send_reminder'] == 'true'" class="custom-height-1">No</div>
                                </div>
                            </div>
                            <div class="row col-sm-12">
                                <div class="col-sm-6">
                                    <h4 class="bold">Address</h4>
                                    <div class="custom-height-1">{{eventInfo.address}}</div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Zipcode</h4>
                                    <div class="custom-height-1">{{eventInfo.zipcode}}</div>
                                </div>
                            </div>
                            <div class="row col-sm-12">
                                <div class="col-sm-12">
                                    <h4 class="bold">Remarks</h4>
                                    <div class="custom-height-1">{{eventInfo.remarks}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" ng-init="eventRoles()">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Event Roles </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="View Event Roles">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="box green-box">    
                            <div class="table-horizontal-scroll">
                                <table class="table table-bordered" style="max-width: 100%">
                                    <thead>
                                        <tr>
                                            <th width="5%" style="color: #005384">S/N</th>
                                            <th width="25%" style='color: #005384'>Role</th>
                                            <th width="30%" style='color: #005384'>Description</th>
                                            <th width="25%" style="color: #005384">Participants</th>
                                            <th width="15%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="role in roles track by $index">
                                            <td>{{$index + 1}}</td>
                                            <td>{{role['event_role']}}</td>
                                            <td>{{role['event_desc']}}</td>
                                            <td style="padding:0px;">
                                                <table class="table" style="max-width:100%">
                                                    <tbody>
                                                        <tr ng-repeat="part in role['event_participant'] track by $index">
                                                            <td>{{$index + 1}}) <a href="" ng-click="toContact($event, part)">{{part['participant_name']}}</a></td>
                                                            <td ng-if="part['canRemove']"><span><a href="" uib-tooltip-placement="top" uib-tooltip="Pull out" ng-click="removeParticipant($event, part)"><i class="fa fa-user-times fa-lg" aria-hidden="true" style='color: #0d1957'></i></a></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td><center>
                                        <span ng-if='eventInfo["canJoin"]'><a href="" uib-tooltip-placement="top" uib-tooltip="Join Role" ng-click="joinRole($event, role)"><i class="fa fa-user-plus fa-lg" aria-hidden="true" style='color: #0d1957'></i></a></span>
                                        <span ng-if='role["joined"]'><a uib-tooltip-placement="top" uib-tooltip="Joined"><i class="fa fa-check fa-lg" aria-hidden="true" style='color: green'></i></a></span>
                                        &nbsp;<span><a href="" uib-tooltip-placement="top" uib-tooltip="Search & Add" ng-click="addParticipant($event, role)"><i class="fa fa-search-plus fa-lg" aria-hidden="true" style='color: #0d1957'></i></a></span>
                                        &nbsp;<span ng-if='eventInfo["canDelete"]'><a href="" uib-tooltip-placement="top" uib-tooltip="Delete Role" ng-click="deleteRole($event, role)"><i class="fa fa-trash fa-lg" aria-hidden="true" style='color: #ef0606'></i></a></span>
                                    </center></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Team Affiliation </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="View Team Affiliation">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="box green-box">
                            <div class="row col-sm-12">
                                <div class="col-sm-6">
                                    <h4 class="bold">Teams Affiliated</h4>
                                    <ul>
                                        <li ng-repeat="teams in teamA">{{teams}}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="bold">Explain If 'Other'</h4>
                                    <div class="custom-height-1">{{affiliation['explain_if_other']}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" ng-if='eventInfo["canView"]'>
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Withdrawn Participants </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="View Withdrawn Participants">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="box green-box">    
                            <div class="table-horizontal-scroll">
                                <table class="table table-bordered table-striped" style="max-width: 100%">
                                    <thead>
                                        <tr>
                                            <th width="5%" style="color: #005384">S/N</th>
                                            <th width="20%" style='color: #005384'>Role</th>
                                            <th width="20%" style='color: #005384'>Participant</th>
                                            <th width="55%" style="color: #005384">Reason</th>
                                            <!--<th width="15%"></th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wp in withdrawn track by $index">
                                            <td>{{$index + 1}}</td>
                                            <td>{{wp['role']}}</td>
                                            <td>{{wp['participant_name']}}</td>
                                            <td>{{wp['reason']}}</td>
                                            <!--<td><center><span><a href="" ng-click="revert($event,wp)">Revert</a></span>-->
                                            </center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
    </body>
</html>
