<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper inner-content-wrapper" id="view-all-contacts"  cg-busy="{promise:myPromise,templateUrl:'./style/ngTemplate/cgBusy.html',minDuration:700}">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="" ng-click="backHome()"> Homepage </a><i class="fa fa-chevron-right small"></i> <a href="" ng-click=""> Events </a><i class="fa fa-chevron-right small"></i> <a> Upcoming Events </a></li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <!-- view contact starts -->
                <div class="box">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Upcoming events </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Upcoming Events">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" ng-init="retrieveEvents()">                        
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <label>
                                    Show Entries:
                                </label>
                                <select class="form-control" ng-model="itemsPerPage" ng-change="itemsPerPageChanged()">
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>50</option>
                                    <option>60</option>
                                    <option value="toAll">All</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Date Start:
                                </label>
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" ng-model="dateStart" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Date Start"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Date End:
                                </label>
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="open2()" uib-datepicker-popup="{{format}}" placeholder="Date End" ng-model="dateEnd" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class='col-md-2' ng-hide="isNovice">
                                <label>Select Team:</label>
                                <div ng-init="loadTeamList()">
                                    <select name="teamList" class="form-control"  ng-change="retrieveEvents()" ng-model="teamFilter">
                                        <option ng-repeat="team in teamList">{{team.teamAffiliation}}</option>
                                    </select>     
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Search:</label>
                                <input type="text" class="form-control" placeholder="Search Event" ng-model="searchEvents"/>
                            </div>
                        </div>
                        <p style="margin-bottom: 0px">
                            <span><label>Total Entries: </label>&nbsp;</span><span style="color: red">{{allFilteredEvents.length}}</span> 
                            &nbsp;&nbsp;
                            <span> <label> Entries per page: </label>&nbsp;</span>
                            <span ng-hide="isAll" style="color: red">{{itemsPerPage}}</span>
                            <span ng-show="isAll" style="color: red">All</span>
                            &nbsp;&nbsp;
                            <span> <label> Entries in page: </label>&nbsp;</span><span style="color: red">{{splitEvents.length}}</span> 
                        </p>
                        <div class="table-horizontal-scroll">
                            <table id="example1" class="table table-bordered table-striped" style="max-width: 100%">
                                <thead>
                                    <tr>
                                        <th width="20%"><a href="" ng-click="order('event_tile')" style='color: #005384'>Event Title</a></th>
                                        <th width="10%"><a href="" ng-click="order('event_start_date')" style='color: #005384'>Start Date</a></th>
                                        <th width="10%"><a href="" ng-click="order('event_time_start')" style='color: #005384'>Start Time</a></th>
                                        <th width="10%"><a href="" ng-click="order('event_location')" style='color: #005384'>Location</a></th>
                                        <th width="10%"><a href="" ng-click="order('event_class')" style='color: #005384'>Event Class</a></th>
                                        <th width="15%"><a href="" ng-click="order('team')" style='color: #005384'>Teams</a></th>
                                        <th width="10%"><a href="" ng-click="order('event_status')" style='color: #005384'>Status</a></th>
                                        <th width="15%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="event in splitEvents| orderBy:predicate:reverse">
                                        <td><a href="" ng-click="foo($event, event)">{{event['event_title']}}</a></td>
                                        <td>{{event['event_start_date']}}</td>
                                        <td>{{event['event_time_start']}}</td>
                                        <td>{{event['event_location']}}</td>
                                        <td>{{event['event_class']}}</td>
                                        <td>{{event['team']}}</td>
                                        <td>{{event['event_status']}}</td>
                                        <td>
                                <center>
                                    <span>
                                        <a href="" uib-tooltip-placement="top" uib-tooltip="View" ng-click="foo($event, event)">
                                            <i class="fa fa-eye fa-lg" aria-hidden="true" style='color: #0d1957'></i>
                                        </a>
                                    </span>
                                    &nbsp;
                                    <span ng-if='event["canEdit"]'>
                                        <a href="" uib-tooltip-placement="top" uib-tooltip="Edit" ng-click="edit($event, event)">
                                            <i class="fa fa-edit fa-lg" aria-hidden="true" style='color: #0d1957'></i>
                                        </a>
                                    </span>
                                    &nbsp;
                                    <span ng-if="canClone">
                                        <a href="" uib-tooltip-placement="top" uib-tooltip="Clone Event" ng-click="cloneEvent($event, event)">
                                            <i class="fa fa-clone fa-lg" aria-hidden="true" style='color: #0d1957'></i>
                                        </a>
                                    </span>
                                    &nbsp;
                                    <span ng-if='event["canDelete"]'>
                                        <a href="" uib-tooltip-placement="top" uib-tooltip="Delete Event" ng-click="deleteEvent($event, event)">
                                            <i class="fa fa-trash fa-lg" aria-hidden="true" style='color: #ef0606'></i>
                                        </a>
                                    </span>
                                </center>
                                </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th><a href="" ng-click="order('event_tile')" style='color: #005384'>Event Title</a></th>
                                        <th><a href="" ng-click="order('event_start_date')" style='color: #005384'>Start Date</a></th>
                                        <th><a href="" ng-click="order('event_time_start')" style='color: #005384'>Start Time</a></th>
                                        <th><a href="" ng-click="order('event_location')" style='color: #005384'>Location</a></th>
                                        <th><a href="" ng-click="order('event_class')" style='color: #005384'>Event Class</a></th>
                                        <th><a href="" ng-click="order('team')" style='color: #005384'>Teams</a></th>
                                        <th><a href="" ng-click="order('event_status')" style='color: #005384'>Status</a></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div>
                            <div style='float: right'>
                                <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
                            </div>
                            <br/>
                            <div style='float: left'>
                                <pre>Page: {{currentPage}} / {{totalPages}}</pre>
                            </div>
                        </div>
                    </div>
                    <!-- view contact ends -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </body>
</html>
