<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="forgotPassword">
    <head>
        <title>Password Reset</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- THE ABOVE 3 META TAGS *MUST* COME FIRST IN THE HEAD; ANY OTHER HEAD CONTENT MUST COME *AFTER* THESE TAGS -->
        <link rel="stylesheet" href="style/css/bootstrap.min.css">
        <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="style/css/AdminLTE.css">
        <link rel="stylesheet" href="style/css/skins/_all-skins.min.css">
        <link rel="stylesheet" href="style/css/custom.css">
        <link rel="stylesheet" href="style/css/ngDialog.min.css">
        <link rel="stylesheet" href="style/css/ngDialog-theme-default.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="shortcut icon" href="style/img/favicon.ico" />
        
        <!-- JQUERY -->
        <script src="style/js/jquery-1.12.2.js"></script>
        
        <!-- BOOTSTRAP -->
        <script src="style/js/bootstrap.min.js"></script>
        <script src="plugins/fastclick/fastclick.js"></script>
        <script src="plugins/slimScroll/jquery.slimscroll.js"></script>
        
        <!-- ANGULAR -->
        <script src="style/js/angular.js"></script>
        <script src="style/js/dependencies/ngDialog.min.js"></script>
        <script src="forgotPasswordApp.js"></script>
    </head>
    <body ng-controller="ForgotPassCtrl">
        <div class="site-wrapper forget-pass-page">
            <div class="forget-pass-box">
                <div class="col-lg-12">
                    <div class="col-lg-5 pull-right">
                        <img class="forget-pass-logo" src="style/img/forgetful_ape.gif" alt="twc2-logo">
                    </div>
                    <!-- /.LOGIN-BOX -->
                    <div class="col-lg-7 pull-left">
                        <form role="form" name="resetPasswordForm" class="forget-pass-box-body">
                            <h2>Forget Password</h2>
                            <div class="form-group has-feedback">
                                <input type="email" name="email" class="form-control" ng-model="toResetPassword.email" placeholder="Email" required>
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <button type="submit" ng-click="sendInfo()" class="btn btn-primary btn-block btn-flat">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.LOGIN-BOX -->
            </div>
        </div>
    </body>
</html>
