<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="forgotPassword">
    <head>
        <title>Password Reset</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css"/>
        <link href="style/css/ngDialog.min.css" rel="stylesheet" type="text/css"/>
        <script src="style/js/angular.js"></script>
        <script src="style/js/dependencies/ngDialog.min.js"></script>
        <script src="forgotPasswordApp.js"></script>
    </head>
    <body ng-controller="ForgotPassCtrl">
        <div>
            <form>
                Username: <input type="text" ng-model="toResetPassword.username">
                Email: <input type="text" ng-model="toResetPassword.email">
                <input type="submit" ng-click="sendInfo()">
            </form>
        </div>
    </body>
</html>
