<!-- 
    Document   : login
    Created on : 7 May, 2016, 12:33:50 PM
    Author     : Marcus
-->

<!DOCTYPE html>
<html ng-app="bahamas">
        <div class="hold-transition login-page">
        <div class="twc2-logo" align="center">
            <!--twc2-logo-->
            <img src="style/img/Picture1.png" alt="twc2-logo" style="width: 40%; height: 40%">
        </div>
        <div class="login-box">
            <div class="login-logo">
                <a href="login.jsp">Relationship Management System</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form ng-submit="loginUser()" role="form" name="loginForm">
                    <div class="form-group has-feedback">
                        <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="Username" required>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" ng-maxlength="20" placeholder="Password" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <!-- Feel free to delete if you think it's weird -->
<!--                        <span ng-show="loginForm.password.$error.minlength">Password has to be at least 8 characters long.</span>-->
                    </div>
                    <div class="row">
                        <div class="col-xs-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <div class='alert alert-danger' role='alert' ng-show="error">
                <strong>
                    <span class='glyphicon glyphicon-exclamation-sign'></span><span class='sr-only'></span>
                    Invalid Username/Password.
                </strong>  
            </div> 
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

        <!-- iCheck -->
        <script src="plugins/iCheck/icheck.min.js"></script>
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>
        </div>
</html>

