<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    </head>
    <body>
        <div class="site-wrapper notfound">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class='notfound-header'>404 Not Found</div>
                        <div class='notfound-text'>The resource requested could not be found</div>
                        <p class="lead">
                            <span>
                            <button ng-click="previousPage()" class="btn btn-lg btn-default">Go back to previous page</button>
                            </span>
                            &nbsp;
                            <span>
                            <button ng-click="toLogin()" class="btn btn-lg btn-default">Back to login</button>    
                            </span>
                        </p>
                    <div class="mastfoot">
                        <div class="inner">
                            <p><span>2016 Zuerst. Powered by Bootstrap, JQuery, AngularJS and AdminLTE.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
