<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html ng-app="bahamas">
    <head></head>
    <body>
        <div class="hold-transition skin-blue sidebar-mini">
            <!-- Site wrapper -->
            <div class="wrapper" ng-init="populatePage()">
                <header class="main-header">
                    <!-- Logo -->
                    <a href="#/novice" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini bold">BHM</span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg bold">TWC2 Bahamas</span>
                    </a>

                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top">
                        <!-- Sidebar toggle button-->
                        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>             
                        <div class="navbar-custom-menu">                        
                            <ul class="nav navbar-nav">
                                <!-- Messages: style can be found in dropdown.less-->
<!--                                <li class="dropdown messages-menu">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="label label-success">4</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have 4 messages</li>
                                        <li>
                                             inner menu: contains the actual data 
                                            <ul class="menu">
                                                <li> start message 
                                                    <a href="">
                                                        <div class="pull-left">
                                                            <img src="style/img/avatar.png" class="img-circle" alt="User Image">
                                                        </div>
                                                        <h4>
                                                            Support Team
                                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                        </h4>            
                                                        <p>Please revise the current theme</p>
                                                    </a>
                                                </li>
                                                 end message 
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="javascript: void(0)">See All Messages</a></li>
                                    </ul>
                                </li>
                                 Notifications: style can be found in dropdown.less 
                                <li class="dropdown notifications-menu">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bell-o"></i>
                                        <span class="label label-warning">10</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have 10 notifications</li>
                                        <li>
                                             inner menu: contains the actual data 
                                            <ul class="menu">
                                                <li>
                                                    <a href="javascript: void(0)">
                                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="javascript: void(0)">View all</a></li>
                                    </ul>
                                </li>
                                 Tasks: style can be found in dropdown.less 
                                <li class="dropdown tasks-menu">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-flag-o"></i>
                                        <span class="label label-danger">9</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have 9 tasks</li>
                                        <li>
                                             inner menu: contains the actual data 
                                            <ul class="menu">
                                                <li> Task item 
                                                    <a href="javascript: void(0)">
                                                        <h3>
                                                            Design front-end 
                                                            <small class="pull-right">20%</small>
                                                        </h3>
                                                        <div class="progress xs">
                                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                                <span class="sr-only">20% Complete</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                 end task item 
                                            </ul>
                                        </li>
                                        <li class="footer">
                                            <a href="javascript: void(0)">View all tasks</a>
                                        </li>
                                    </ul>
                                </li>-->
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <img ng-src="{{profile_pic}}" on-error-src="images/default.jpg" class="user-image" alt="User Image">
                                        <span class="hidden-xs">{{name}}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img ng-src="{{profile_pic}}" on-error-src="images/default.jpg" class="img-circle" alt="User Image">
                                            <p>
                                                <span ng-bind="username"></span>
                                                <br>
                                                <a class="profileStyle" href="" ng-click="toProfile()">My Profile</a>
                                            </p>
                                        </li>                                  
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <button class="btn btn-default btn-flat" data-toggle="modal" data-target="#changePassword" data-keyboard="false" data-backdrop="static">Change Password</button>
                                            </div>
                                            <div class="pull-right">
                                                <button class="btn btn-default btn-flat" ng-click="logout()">Sign Out</button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Control Sidebar Toggle Button -->
                                <li>
                                    <a href="javascript: void(0)" data-toggle="control-sidebar" ng-click="openControlBar()"><i class="fa fa-gears"></i></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>

                <!-- =============================================== -->

                <!-- Left side column. contains the sidebar -->
                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                        <!-- Sidebar user panel -->
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img ng-src="{{profile_pic}}" on-error-src="images/default.jpg" class="img-circle" alt="User Image">
                            </div>
                            <div class="pull-left info">
                                <p><a ng-click="backHome()">{{username}}</a></p>
                                <p><a>{{name}}</a></p>
                            </div>    
                        </div>                   
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu">
                            <li class="header" style="text-align:center; color: whitesmoke; font-size: 14px"> Relationship Management System </li>
                            <!-- Event information -->
                            <li class="treeview">
                                <a href="">
                                    <i class="fa fa-dashboard"></i> <span>Event</span> <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu" style="padding: 10px">                              
                                    <li><a ui-sref="novice.viewUpcomingEvents"><i class="fa fa-calendar-plus-o"></i><span> Upcoming Event</span></a></li>
                                    <li  style="padding-bottom: 5px">
                                        <form ng-submit="searchEvent()" class="sidebar-form">
                                            <div class="input-group">
                                                <input type="text" ng-model="search.event" name="searchEvent" class="form-control" placeholder="Search for event...">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-flat"><i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </li>                    
                                </ul>
                            </li>
                            <!-- User Management -->
                            <li class="treeview">
                                <a ui-sref="novice.profile">
                                    <i class="glyphicon glyphicon-user"></i> <span> My Profile</span> 
                                </a>             
                            </li>
                        </ul>
                    </section>
                    <!-- /.sidebar -->
                </aside>
                <!-- =============================================== -->

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper custom-wrapper-1" ui-view>
                    <div class="content-wrapper inner-content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <h3>
                                <ol class="breadcrumb">
                                    <li><i class="fa fa-home"></i><a href=""> Homepage </a></li>
                                </ol>                    
                            </h3>
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <!-- Default box -->
                            <div class="box">
                                <div class="box-header with-border" data-widget="collapse">
                                    <h3 class="box-title">To be completed</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Homepage">
                                            <i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">

                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <!--HOME PAGE HERE-->
                                    Notifications and event details will be displayed here
                                </div>
                                <!-- /.box-footer-->
                            </div>
                            <!-- /.box -->

                        </section>
                        <!-- /.content -->
                    </div>
                </div>
                <!-- Control Sidebar -->
                <aside class="control-sidebar control-sidebar-dark" ng-class="{'control-sidebar-open': openSidebar === true}">
                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs nav-justified control-sidebar-tabs" style="padding: 15px">
                        <!--<div class="tab-content">
                        <!-- Settings tab content -->
                        <div class="tab-pane" id="control-sidebar-settings-tab">
                            <form method="post">
                                <h3 class="control-sidebar-heading" style="padding-top: 0px; text-align: center">Global Settings</h3>
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Report panel usage
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                    <p>
                                        Some information about this general settings option
                                    </p>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Allow mail redirect
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                    <p>
                                        Other sets of options are available
                                    </p>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Expose author name in posts
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                    <p>
                                        Allow the user to show his name in blog posts
                                    </p>
                                </div>
                                <!-- /.form-group -->
                                <h3 class="control-sidebar-heading">Chat Settings</h3>
                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Show me as online
                                        <input type="checkbox" class="pull-right" checked>
                                    </label>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Turn off notifications
                                        <input type="checkbox" class="pull-right">
                                    </label>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label class="control-sidebar-subheading">
                                        Delete chat history
                                        <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                                    </label>
                                </div>
                                <!-- /.form-group -->
                            </form>
                            <!-- </div> -->
                            <!-- /.tab-pane -->
                        </div>
                    </ul>
                    <!-- Tab panes -->
                </aside>
                <!-- /.control-sidebar -->
                <!-- Add the sidebar's background. This div must be placed
                     immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
                <!-- =============================================== -->
                
                <!-- Change password modal -->
                <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="bold">Change Password
                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                    </button>
                                </h4>
                            </div>
                            <div class="modal-body" id="changepassword">
                                <form name="form.changepassword">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type='text' class="form-control" ng-model='username' readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Current Password</label><span class="required">*</span>
                                        <input type="password" ng-model='user["current_password"]' class="form-control" name="oldPassword" empty>
                                        <span ng-show='form.changepassword.oldPassword.$error.empty && form.changepassword.oldPassword.$dirty' class='error'>Current password is required.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label><span class="required">*</span>
                                        <input type="password" ng-model='user.password' ng-maxlength="20" compare='{{user["confirm_password"]}}' class="form-control" name="newPassword" empty>
                                        <span ng-show='form.changepassword.newPassword.$error.empty && form.changepassword.newPassword.$dirty' class='error'>New password is required.</span>
                                        <span ng-show='((user.password.length < 8 && password.length > 0) || form.changepassword.newPassword.$error.maxlength) && form.changepassword.newPassword.$dirty' class='error'>Password has to be 8 to 20 characters long.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label><span class="required">*</span>
                                        <input type="password" ng-model='user["confirm_password"]' compare="{{user.password}}" class="form-control" name="confirmPassword">
                                        <span ng-show="form.changepassword.confirmPassword.$error.compare" class='error'>Confirmed password is not the same.</span>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <center>
                                    <button type="submit" class="btn btn-link uppercase bold" ng-disabled='form.changepassword.oldPassword.$invalid || form.changepassword.newPassword.$invalid || form.changepassword.confirmPassword.$invalid || (user.password.length < 8 && user.password.length > 0)' ng-click="changePassword()">Change my password</button>
                                    <br>
                                    <span ng-bind="resultUser.message" ng-show="resultUser.status"></span>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =============================================== -->
            </div>
            <!-- ./wrapper -->
        </div>
        <script>
            // apply dropdownHover to all elements with the data-hover="dropdown" attribute
            $('document').ready(function () {
                $('[data-hover="dropdown"]').dropdownHover();
            });
            
            $('window').on('popstate', function () {
                $('#changePassword').modal('hide');
            });
        </script>
    </body>
</html>

