<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bahamas</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="show_sql">true</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="hibernate/Notice.hbm.xml"/>
    <mapping resource="hibernate/PaymentMode.hbm.xml"/>
    <mapping resource="hibernate/Training.hbm.xml"/>
    <mapping resource="hibernate/ModeOfSendingReceipt.hbm.xml"/>
    <mapping resource="hibernate/Donation.hbm.xml"/>
    <mapping resource="hibernate/Language.hbm.xml"/>
    <mapping resource="hibernate/LsaClass.hbm.xml"/>
    <mapping resource="hibernate/TeamAffiliation.hbm.xml"/>
    <mapping resource="hibernate/Event.hbm.xml"/>
    <mapping resource="hibernate/MembershipClass.hbm.xml"/>
    <mapping resource="hibernate/Role.hbm.xml"/>
    <mapping resource="hibernate/PermissionLevel.hbm.xml"/>
    <mapping resource="hibernate/TypeOfContact.hbm.xml"/>
    <mapping resource="hibernate/EventClass.hbm.xml"/>
    <mapping resource="hibernate/Appreciation.hbm.xml"/>
    <mapping resource="hibernate/EventRoleAssignment.hbm.xml"/>
    <mapping resource="hibernate/OfficeHeld.hbm.xml"/>
    <mapping resource="hibernate/Contact.hbm.xml"/>
    <mapping resource="hibernate/EventLocation.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
