<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin:0px" id="add-new-contact">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb" style="font-size: 24px; background-color: rgba(11, 60, 128, 0.75); color: white">
                        <li><i class="fa fa-home"></i><a ng-click="backHome()" style="color: white"> Homepage</a> <i class="fa fa-chevron-right small"></i> Contact Management </li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"> CREATE NEW CONTACT </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- form start -->
                    <div class="box-body">
                        <div class="box box-primary" style="border-top-color: #70103F">    
                            <form id="contact-new-contact-form" role="form" ng-submit='submitContactInfo()' name='contactForm'>
                                <!-- COMPULSORY INFORMATION SECTION -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Name</label><span class="required">*</span>
                                        <input type="text" ng-model="contactInfo.name" ng-maxlength="50" ng-required="true" ng-pattern="nameRegex" name="name" class="form-control">
                                        <span ng-show="contactForm.name.$error.maxlength">Input field name is too long.</span>
                                        <span ng-show="contactForm.name.$error.required && contactForm.name.$dirty" style="color: red">Name is required.</span>
                                        <span ng-show="contactForm.name.$invalid && contactForm.name.$dirty" style="color:red">Name is invalid.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Alternative Name</label>
                                        <input type="text" ng-model="contactInfo.altname" ng-maxlength="50" name="altname" class="form-control"> 
                                        <span ng-show="contactForm.altname.$error.maxlength">Input field alternative name is too long.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Username</label><span class="required">*</span>
                                        <input type="text" ng-model="contactInfo.username" ng-required="true" class="form-control" name="username">
                                        <span ng-show="contactForm.username.$error.required && contactForm.username.$dirty" style="color: red">Username is required.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label><span class="required">*</span>
                                        <input type="password" ng-model="contactInfo.password" ng-minlength="8" ng-maxlength="20" ng-required="true" compare="{{contactInfo.confirmpassword}}" name="password" class="form-control">
                                        <span ng-show="contactForm.password.$error.maxlength || contactForm.password.$error.minlength">TWC2 password needs to be from 8 to 20 characters long.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" ng-model="contactInfo.confirmpassword" ng-required="true" compare="{{contactInfo.password}}" class="form-control" name="confirmpassword"> 
                                        <span ng-show="contactForm.confirmpassword.$error.compare" style="color: red">Confirmed password is not the same.</span>
                                    </div>
                                    <div class="form-group" ng-init="loadContactTypeList()">
                                        <label>Contact type</label><span class="required">*</span>
                                        <select class="form-control" ng-model="contactInfo.contacttype">
                                            <option ng-repeat="contactType in contactTypeList">{{contactType.contactType}}</option>
                                        </select>     
                                    </div>
                                    <label>Explain if above is 'Other'</label>
                                    <textarea ng-model="contactInfo.explainifother" ng-maxlength="200" name="explainifother" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                    <span ng-show="contactForm.explainifother.$error.maxlength">Input field explanation is too long.</span>
                                    <div class="form-group">
                                        <label>Profession</label>
                                        <input type="text" ng-model="contactInfo.profession" ng-maxlength="200" ng-pattern="professionRegex" name="profession" class="form-control" spellcheck="true"> 
                                        <span ng-show="contactForm.profession.$error.maxlength">Input field profession is too long.</span>
                                        <span ng-show="contactForm.profession.$invalid" style="color:red">Profession is invalid.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Job title</label>
                                        <input type="text" ng-model="contactInfo.jobtitle" ng-maxlength="50" ng-pattern="jobtitleRegex" name="jobtitle" class="form-control" spellcheck="true">
                                        <span ng-show="contactForm.jobtitle.$error.maxlength">Input field job title is too long.</span>
                                        <span ng-show="contactForm.jobtitle.$invalid" style="color:red">Job title is invalid.</span>
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                        <div class="col-md-4" style="padding: 0px">
                                            <label>NRIC/FIN</label>
                                            <input type="text" ng-model="contactInfo.nricfin" ng-pattern="nricRegex" name="nricfin" class="form-control">
                                            <span ng-show="contactForm.nricfin.$invalid" style="color:red">Sample valid NRIC/FIN: S0927314N or G0293714T.</span>
                                        </div>    
                                        <div class="col-md-offset-1 col-md-2" style="padding: 0px">
                                            <label>Gender</label>
                                            <select ng-model="contactInfo.gender" class="form-control" >
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="O">Other</option>
                                            </select> 
                                        </div>  
                                        <div class="col-md-offset-1 col-md-4" style="padding: 0px">
                                            <label>Nationality</label>
                                            <input type="text" ng-model="contactInfo.nationality" ng-pattern="nationalityRegex" class="form-control" name="nationality">
                                            <span ng-show="contactForm.nationality.$invalid" style="color:red">Invalid nationality.</span>
                                        </div>    
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                        <div class="col-md-4" style="padding: 0px">
                                            <label>Date of birth</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" ng-model="contactInfo.dateofbirth" class="form-control pull-right" id="contact-date-of-birth-picker">
                                            </div>
                                        </div>
                                    </div>                     
                                    <label>Remarks</label>
                                    <textarea ng-model="contactInfo.remarks" ng-maxlength="200" name="remarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                    <span ng-show="contactForm.remarks.$error.maxlength">Input field explanation is too long.</span>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                        <div class="col-md-2" style="padding: 0px" ng-init="loadCountryCodes()">
                                            <label>Country code</label><span class="required">*</span>
                                            <input type="number" class="form-control" ng-model="contactInfo.countrycode" ng-change="updateCountryNames(contactInfo.countrycode)" ng-required='true' name='countrycode'>            
                                            <span>{{newCountryName}}</span>
                                            <span ng-show="contactForm.countrycode.$error.required && contactForm.countrycode.$dirty" style="color: red">Country code is required.</span>
                                        </div>
                                        <div class="col-md-offset-1 col-md-4" style="padding: 0px">
                                            <label>Phone number</label><span class="required">*</span>
                                            <input type="text" ng-model="contactInfo.phonenumber" ng-pattern="phoneRegex" ng-required='true' ng-maxlength='20' name="phonenumber" class="form-control">
                                            <span ng-show="contactForm.phonenumber.$invalid && contactForm.phonenumber.$dirty" style="color:red">Invalid phone number.</span>
                                            <span ng-show="contactForm.phonenumber.$error.required && contactForm.phonenumber.$dirty" style="color: red">Phone number is required.</span>
                                            <span ng-show="contactForm.phonenumber.$error.maxlength" style='color:red'>Input field phone number is too long.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label><span class="required">*</span>
                                        <input type="email" ng-model="contactInfo.email" ng-pattern="emailRegex" ng-required='true' ng-maxlength='50' name="email" class="form-control">
                                        <span ng-show="contactForm.email.$invalid && contactForm.email.$dirty" style="color:red">Invalid email.</span>
                                        <span ng-show="contactForm.email.$error.required && contactForm.email.$dirty" style="color: red">Email is required.</span>
                                        <span ng-show="contactForm.email.$error.maxlength" style='color:red'>Input field email is too long.</span> 
                                    </div>
                                    <div class="form-group" ng-init="loadCountryNames()">
                                        <label>Country</label><span class="required">*</span>
                                        <select class="form-control" ng-model="contactInfo.country">
                                            <option ng-repeat="country in countryNames">{{country.name}}</option>
                                        </select> 
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                        <div class="col-md-2" style="padding: 0px">
                                            <label>Zipcode</label>
                                            <input type="text" ng-model="contactInfo.zipcode" ng-maxlength='20' ng-pattern="zipcodeRegex" name='zipcode' class="form-control">
                                            <span ng-show="contactForm.zipcode.$error.maxlength">Input field zipcode is too long.</span>
                                            <span ng-show="contactForm.zipcode.$invalid" style="color:red">Invalid zipcode.</span>
                                        </div>
                                    </div>          
                                    <div class="form-group">
                                        <label>Address</label><span class="required">*</span>
                                        <input type="text" ng-model="contactInfo.address" ng-required='true' ng-maxlength='1000' name='address' class="form-control">
                                        <span ng-show="contactForm.address.$error.required && contactForm.address.$dirty" style="color: red">Address is required.</span>
                                        <span ng-show="contactForm.address.$error.maxlength" style='color:red'>Input field address is too long.</span>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <center><button type="submit" ng-click="nextForm()" 
                                        
                                        class="btn btn-primary" data-toggle="modal" data-target="#additionalForm">
                                            Save new contact
                                    </button></center>
                                </div>
                            </form>
                            <div class="modal fade" id="additionalForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                            <h4 ng-hide="result.message" class="modal-title" id="modalLabel" style="color:red">Error</h4>
                                            <h4 ng-show="result.message" class="modal-title" id="modalLabel">{{result.deliver}}</h4>
                                        </div>
                                        <div class="modal-body" ng-hide="result.message">
                                            {{result.deliver}}
                                        </div>
                                       <div class="modal-body" ng-show="result.message">
                                            <uib-accordion class='panel-group' close-others="true">
                                                <form name='additionalContactForm'>
                                                    <uib-accordion-group class='panel panel-primary'>
                                                        <uib-accordion-heading>                                                   
                                                            Additional phone number
                                                        </uib-accordion-heading>
                                                        <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                                            <div class="col-md-2" style="padding: 0px" ng-init="loadCountryCodes()">
                                                                <label>Country code</label>
                                                                <input type="number" class="form-control" ng-model="additionalContactInfo.phoneInfo.countrycode" ng-change="updateCountryNames(additionalContactInfo.phoneInfo.countrycode)">            
                                                                <span>{{newCountryName}}</span>
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-4" style="padding: 0px">
                                                                <label>Phone number</label><span class="required">*</span>
                                                                <input type="text" ng-model="additionalContactInfo.phoneInfo.phonenumber" ng-pattern="phoneRegex" ng-maxlength='20' name="additionalphonenumber" class="form-control">
                                                                <span ng-show="additionalContactForm.additionalphonenumber.$invalid && additionalContactForm.additionalphonenumber.$dirty" style="color:red">Invalid phone number.</span>                                                                  
                                                                <span ng-show="additionalContactForm.additionalphonenumber.$error.maxlength" style='color:red'>Input field phone number is too long.</span>
                                                            </div>
                                                        </div>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.phoneInfo.phoneremarks" ng-maxlength="200" name="phoneremarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.phoneremarks.$error.maxlength">Input field explanation is too long.</span>
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addPhone()">Done</button></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-default'>
                                                        <uib-accordion-heading>                                                   
                                                            Additional email information
                                                        </uib-accordion-heading>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="email" ng-model="additionalContactInfo.emailInfo.email" ng-pattern="emailRegex" ng-maxlength='50' name="additionalemail" class="form-control">
                                                            <span ng-show="additionalContactForm.additionalemail.$invalid && additionalContactForm.additionalemail.$dirty" style="color:red">Invalid email.</span>
                                                            <span ng-show="additionalContactForm.additionalemail.$error.maxlength" style='color:red'>Input field email is too long.</span> 
                                                        </div>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.emailInfo.emailremarks" ng-maxlength="200" name="emailremarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.emailremarks.$error.maxlength">Input field explanation is too long.</span>     
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addEmail()">Done</button></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-primary'>
                                                        <uib-accordion-heading>                                                   
                                                            Additional address information
                                                        </uib-accordion-heading>
                                                        <div class="form-group" ng-init="loadCountryNames()">
                                                            <label>Country</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.addressInfo.country">
                                                                <option ng-repeat="country in countryNames">{{country.name}}</option>
                                                            </select> 
                                                        </div>
                                                        <div class="form-group col-md-12" style="padding: 0px">
                                                            <div class="col-md-2" style="padding: 0px">
                                                                <label>Zipcode</label>
                                                                <input type="text" ng-model="additionalContactInfo.addressInfo.zipcode" ng-maxlength='20' name='additionalzipcode' class="form-control">
                                                                <span ng-show="additionalContactForm.additionalzipcode.$error.maxlength">Input field zipcode is too long.</span>
                                                            </div>
                                                        </div>          
                                                        <div class="form-group">
                                                            <label>Address</label><span class="required">*</span>
                                                            <input type="text" ng-model="additionalContactInfo.addressInfo.address" ng-maxlength='1000' name='additionaladdress' class="form-control">
                                                            <span ng-show="additionalContactForm.additionaladdress.$error.required && additionalContactForm.additionaladdress.$dirty" style="color: red">Address is required.</span>
                                                            <span ng-show="additionalContactForm.additionaladdress.$error.maxlength" style='color:red'>Input field address is too long.</span>
                                                        </div>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.addressInfo.addressremarks" ng-maxlength="200" name="addressremarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.addressremarks.$error.maxlength">Input field explanation is too long.</span>      
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addAddress()">Done</button></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-default'>
                                                        <uib-accordion-heading>                                                   
                                                            Join a team
                                                        </uib-accordion-heading>
                                                        <div class="form-group" ng-init="loadTeamAffiliationList()">
                                                            <label>Team Affiliation</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.teamInfo.team">
                                                                <option ng-repeat="teamAffiliation in teamAffiliationList">{{teamAffiliation.teamAffiliation}}</option>
                                                            </select>     
                                                        </div>
                                                        <label>Explain if above is 'Other'</label>
                                                        <textarea ng-model="additionalContactInfo.teamInfo.explainifother" ng-maxlength="200" name="additionalexplainifotherT" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.additionalexplainifotherT.$error.maxlength">Input field explanation is too long.</span>
                                                        <div class="form-group">
                                                            <label>Subteam</label>
                                                            <input type="text" ng-model="additionalContactInfo.teamInfo.subteam" ng-maxlength='50' name="subteam" class="form-control">
                                                            <span ng-show="additionalContactForm.subteam.$error.maxlength" style='color:red'>Input field subteam is too long.</span> 
                                                        </div>
                                                        <div class="form-group" ng-init="loadPermissionLevelList()">
                                                            <label>Permission Level</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.teamInfo.permissionlevel">
                                                                <option ng-repeat="permissionLevel in permissionLevelList">{{permissionLevel.permissionLevel}}</option>
                                                            </select>     
                                                        </div>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.teamInfo.remarks" ng-maxlength="200" name="teamremarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.teamremarks.$error.maxlength">Input field explanation is too long.</span>     
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addTeam()">Done</button></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-primary'>
                                                        <uib-accordion-heading>                                                   
                                                            Languages Information
                                                        </uib-accordion-heading>
                                                        <div class="form-group" ng-init="loadLanguageList()">
                                                            <label>Language</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.languageInfo.language">
                                                                <option ng-repeat="language in languageList">{{language.language}}</option>
                                                            </select>     
                                                        </div>
                                                        <label>Explain if above is 'Other'</label>
                                                        <textarea ng-model="additionalContactInfo.languageInfo.explainifother" ng-maxlength="200" name="additionalexplainifotherL" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.additionalexplainifotherL.$error.maxlength">Input field explanation is too long.</span>
                                                        <div class="form-group">
                                                            <label>Speak/Write?</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.languageInfo.speakwrite">
                                                                <option value="speak only">Speak only</option>
                                                                <option value="speak and write">Speak and write</option>
                                                            </select>     
                                                        </div>
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addLanguage()">Done</button></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-default'>
                                                        <uib-accordion-heading>                                                   
                                                            Skills and Assets
                                                        </uib-accordion-heading>
                                                        <div class="form-group" ng-init="loadLSAList()">
                                                            <label>Skills or Assets</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.skillassetInfo.skillasset">
                                                                <option ng-repeat="lsa in LSAList">{{lsa.lsaClass}}</option>
                                                            </select>     
                                                        </div>
                                                        <label>Explain if above is 'Other'</label>
                                                        <textarea ng-model="additionalContactInfo.skillassetInfo.explainifother" ng-maxlength="200" name="additionalexplainifotherLSA" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.additionalexplainifotherLSA.$error.maxlength">Input field explanation is too long.</span>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.skillassetInfo.remarks" ng-maxlength="200" name="LSAremarks" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="additionalContactForm.LSAremarks.$error.maxlength">Input field remarks is too long.</span>
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addSkillasset()">Done</button></center>
                                                    </uib-accordion-group>
                                                </form>
                                            </uib-accordion>
                                        </div>
                                        <div class="modal-footer" ng-show="result.message">
                                            <button type="button" class="btn btn-primary" ng-click="addContact()" data-dismiss="modal">No thanks, I'm done.</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <!-- /.box-footer-->
                    <!-- /.box -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <script>
            $(document).ready(function () {
                $('#contact-date-of-birth-picker').datepicker({
                    format: "dd-M-yyyy",
                    autoclose: true
                });
            });
        </script>
    </body>
</html>
