<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin:0px" id="add-new-contact">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb" style="font-size: 24px; background-color: rgba(11, 60, 128, 0.75); color: white">
                        <li><i class="fa fa-home"></i><a href="" ng-click="backHome()" style="color: white"> Homepage </a><i class="fa fa-chevron-right small"></i> <a href="" ng-click="addContact()" style="color: white"> Contact Management </a><i class="fa fa-chevron-right small"></i><a href="" ng-click="addContact()" style="color: white"> Create Contact </a></li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"> CREATE NEW CONTACT </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- form start -->
                    <div class="box-body">
                        <div class="box box-primary" style="border-top-color: #70103F">    
                            <form id="contact-new-contact-form" role="form" ng-submit='submitContactInfo()' name='contactForm'>
                                <!-- COMPULSORY INFORMATION SECTION -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Name</label><span class="required">*</span>
                                        <input type="text" ng-model="contactInfo.name" ng-maxlength="50" ng-required="true" name="name" class="form-control">
                                        <span ng-show="contactForm.name.$error.maxlength" style="color:red">Input field name is too long.</span>
                                        <span ng-show="contactForm.name.$error.required && contactForm.name.$touched" style="color: red">Name is required.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Alternative Name</label>
                                        <input type="text" ng-model="contactInfo.altname" ng-maxlength="50" name="altname" class="form-control"> 
                                        <span ng-show="contactForm.altname.$error.maxlength" style="color:red">Input field alternative name is too long.</span>
                                    </div>
                                    <div class="form-group" ng-init="loadContactTypeList()">
                                        <label>Contact type</label><span class="required">*</span>
                                        <select class="form-control" ng-model="contactInfo.contacttype">
                                            <option ng-repeat="contactType in contactTypeList">{{contactType.contactType}}</option>
                                        </select>     
                                    </div>
                                    <label>Explain if above is 'Other'</label>
                                    <textarea ng-model="contactInfo.explainifother" ng-maxlength="200" name="explainifother" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                    <span ng-show="contactForm.explainifother.$error.maxlength" style="color:red">Input field explanation is too long.</span>
                                    <div class="form-group">
                                        <label>Profession</label>
                                        <input type="text" ng-model="contactInfo.profession" ng-maxlength="200" name="profession" class="form-control" spellcheck="true"> 
                                        <span ng-show="contactForm.profession.$error.maxlength" style="color:red">Input field profession is too long.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Job title</label>
                                        <input type="text" ng-model="contactInfo.jobtitle" ng-maxlength="50" name="jobtitle" class="form-control" spellcheck="true">
                                        <span ng-show="contactForm.jobtitle.$error.maxlength" style="color:red">Input field job title is too long.</span>
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                        <div class="col-md-4" style="padding: 0px">
                                            <label>NRIC/FIN</label>
                                            <input type="text" ng-model="contactInfo.nricfin" ng-pattern="nricRegex" name="nricfin" class="form-control">
                                            <span ng-show="contactForm.nricfin.$invalid && contactForm.nricfin.$touched" style="color:red">Sample valid NRIC/FIN: S0927314N or G0293714T.</span>
                                        </div>    
                                        <div class="col-md-offset-1 col-md-2" style="padding: 0px">
                                            <label>Gender</label>
                                            <select ng-model="contactInfo.gender" class="form-control">
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="O">Other</option>
                                            </select> 
                                        </div>  
                                        <div class="col-md-offset-1 col-md-4" style="padding: 0px">
                                            <label>Nationality</label>
                                            <input type="text" ng-model="contactInfo.nationality" ng-pattern="nationalityRegex" class="form-control" name="nationality">
                                            <span ng-show="contactForm.nationality.$invalid && contactForm.nricfin.$touched" style="color:red">Invalid nationality.</span>
                                        </div>    
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                        <div class="col-md-4" style="padding: 0px">
                                            <label>Date of birth</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" ng-model="contactInfo.dateofbirth" name="dob" class="form-control pull-right" id="contact-date-of-birth-picker">
                                            </div>
                                        </div>
                                    </div>                     
                                    <label>Remarks</label>
                                    <textarea ng-model="contactInfo.remarks" ng-maxlength="200" name="remarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                    <span ng-show="contactForm.remarks.$error.maxlength" style="color:red">Input field explanation is too long.</span>
                                </div>    
                                <div class="box-footer">
                                    <center><button type="submit" ng-click="nextForm()" 
                                                    ng-disabled="(contactForm.name.$error.required || contactForm.name.$error.maxlength)
                                                    || (contactForm.nricfin.$invalid) || (contactForm.profession.$invalid) || (contactForm.jobtitle.$invalid)
                                                    || (contactForm.nationality.$invalid) || submitted"
                                                    class="btn btn-primary" data-toggle="modal" data-target="#additionalForm">
                                            Save new contact
                                        </button></center>
                                </div>
                            </form>
                            <div class="modal fade" id="additionalForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                            <h4 ng-hide="result.message" class="modal-title" id="modalLabel" style="color:red">Error</h4>
                                            <h4 ng-show="result.message" class="modal-title" id="modalLabel">{{result.deliver}}</h4>
                                        </div>
                                        <div class="modal-body" ng-hide="result.message">
                                            {{result.deliver}}
                                        </div>
                                        <div class="modal-body" ng-show="result.message">
                                            <uib-accordion class='panel-group' close-others="true"> 
                                                <form name='form.additionalContactForm'>
                                                    <uib-accordion-group class='panel panel-primary'>
                                                        <uib-accordion-heading>                                                   
                                                            Additional phone number
                                                        </uib-accordion-heading>
                                                        <div class="form-group col-md-12" style="padding: 0px; margin-top: 15px">
                                                            <div class="col-md-3" style="padding: 0px" ng-init="loadCountryCodes()">
                                                                <label>Country code</label><span class="required">*</span>
                                                                <input type="number" class="form-control" ng-model="additionalContactInfo.phoneInfo.countrycode" ng-required="true" ng-change="updateCountryNames(additionalContactInfo.phoneInfo.countrycode)" name="additionalcountrycode">            
                                                                <span>{{newCountryName}}</span>
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-4" style="padding: 0px">
                                                                <label>Phone number</label><span class="required">*</span>
                                                                <input type="text" ng-model="additionalContactInfo.phoneInfo.phonenumber" ng-pattern="phoneRegex" ng-maxlength='20' ng-minlength="0" ng-required="true" name="additionalphonenumber" class="form-control">
                                                                <span ng-show="form.additionalContactForm.additionalphonenumber.$error.pattern && form.additionalContactForm.additionalphonenumber.$touched" style="color:red">Invalid phone number.</span>
                                                                <span ng-show="form.additionalContactForm.additionalphonenumber.$error.required && form.additionalContactForm.additionalphonenumber.$dirty" style="color:red">Phone number is required.</span>
                                                                <span ng-show="form.additionalContactForm.additionalphonenumber.$error.maxlength" style='color:red'>Input field phone number is too long.</span>
                                                            </div>
                                                        </div>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.phoneInfo.phoneremarks" ng-maxlength="200" name="phoneremarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="form.additionalContactForm.phoneremarks.$error.maxlength">Input field explanation is too long.</span>
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addPhone()" 
                                                                        ng-disabled="form.additionalContactForm.additionalphonenumber.$invalid || form.additionalContactForm.additionalcountrycode.$invalid
                                                                                    || form.additionalContactForm.phoneremarks.$error.maxlength || submittedPhone">
                                                                Done
                                                            </button>
                                                        &nbsp;<button type='button' class='btn btn-warning' ng-show='submittedPhone' ng-click='addMorePhone()'>Add new phone number</button></center>
                                                        <center><span ng-show="submittedPhone"><span ng-bind="message"></span></span></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-default'>
                                                        <uib-accordion-heading>                                                   
                                                            Additional email information
                                                        </uib-accordion-heading>
                                                        <div class="form-group">
                                                            <label>Email</label><span class="required">*</span>
                                                            <input type="email" ng-model="additionalContactInfo.emailInfo.email" ng-pattern="emailRegex" ng-maxlength='50' ng-required="true" name="additionalemail" class="form-control">
                                                            <span ng-show="form.additionalContactForm.additionalemail.$error.pattern && form.additionalContactForm.additionalemail.$touched" style="color:red">Invalid email.</span>
                                                            <span ng-show="form.additionalContactForm.additionalemail.$error.required && form.additionalContactForm.additionalemail.$dirty" style="color:red">Email is required.</span>
                                                            <span ng-show="form.additionalContactForm.additionalemail.$error.maxlength" style='color:red'>Input field email is too long.</span>
                                                        </div>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.emailInfo.emailremarks" ng-maxlength="200" name="emailremarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="form.additionalContactForm.emailremarks.$error.maxlength">Input field explanation is too long.</span>     
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addEmail()"
                                                                        ng-disabled="form.additionalContactForm.additionalemail.$invalid || form.additionalContactForm.emailremarks.$error.maxlength || submittedEmail">
                                                                Done
                                                            </button>
                                                        &nbsp;<button type='button' class='btn btn-warning' ng-show='submittedEmail' ng-click='addMoreEmail()'>Add new email</button></center>
                                                        <center><span ng-show="submittedEmail">Submitted successfully.</span></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-primary'>
                                                        <uib-accordion-heading>                                                   
                                                            Additional address information
                                                        </uib-accordion-heading>
                                                        <div class="form-group">
                                                            <label>Address</label><span class="required">*</span>
                                                            <input type="text" ng-model="additionalContactInfo.addressInfo.address" ng-maxlength='1000' ng-required="true" name='additionaladdress' class="form-control">
                                                            <span ng-show="form.additionalContactForm.additionaladdress.$error.required && form.additionalContactForm.additionaladdress.$dirty" style="color:red">Address is required.</span>
                                                            <span ng-show="form.additionalContactForm.additionaladdress.$error.maxlength" style='color:red'>Input field address is too long.</span>
                                                        </div>
                                                        <div class="form-group col-md-12" style="padding: 0px">
                                                            <div class="col-md-4" style="padding: 0px">
                                                                <label>Zipcode</label>
                                                                <input type="text" ng-model="additionalContactInfo.addressInfo.zipcode" ng-maxlength='20' name='additionalzipcode' class="form-control">
                                                                <span ng-show="form.additionalContactForm.additionalzipcode.$error.maxlength">Input field zipcode is too long.</span>
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-7" style="padding: 0px" ng-init="loadCountryNames()">
                                                                <label>Country</label>
                                                                <select class="form-control" ng-model="additionalContactInfo.addressInfo.country">
                                                                    <option ng-repeat="country in countryNames">{{country.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>  
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.addressInfo.addressremarks" ng-maxlength="200" name="addressremarks" style='width: 100%; height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="form.additionalContactForm.addressremarks.$error.maxlength">Input field explanation is too long.</span>      
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addAddress()"
                                                                        ng-disabled="form.additionalContactForm.additionaladdress.$invalid || form.additionalContactForm.additionalzipcode.$invalid
                                                                        || form.vadditionalContactForm.addressremarks.$error.maxlength || submittedAddress">
                                                                Done
                                                            </button>
                                                        &nbsp;<button type='button' class='btn btn-warning' ng-show='submittedAddress' ng-click='addMoreAddress()'>Add new address</button></center>
                                                        <center><span ng-show="submittedAddress">Submitted successfully.</span></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-default'>
                                                        <uib-accordion-heading>                                                   
                                                            Select a team
                                                        </uib-accordion-heading>
                                                        <div class="form-group" ng-init="loadTeamAffiliationList()">
                                                            <label>First choice</label><span class="required">*</span>
                                                            <select class="form-control" ng-model="additionalContactInfo.teamInfo.team1" ng-required="true" name="choice1">
                                                                <option ng-repeat="teamAffiliation in teamAffiliationList">{{teamAffiliation.teamAffiliation}}</option>
                                                            </select>
                                                            <span ng-show="form.additionalContactForm.choice1.$invalid && form.additionalContactForm.choice1.$touched" style="color: red">Team preference is required.</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Second choice</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.teamInfo.team2" name="choice2">
                                                                <option ng-repeat="teamAffiliation in teamAffiliationList1">{{teamAffiliation.teamAffiliation}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Third choice</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.teamInfo.team3" name="choice3">
                                                                <option ng-repeat="teamAffiliation in teamAffiliationList2">{{teamAffiliation.teamAffiliation}}</option>
                                                            </select>
                                                        </div>
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addTeam()"
                                                                        ng-disabled="form.additionalContactForm.choice1.$invalid || submittedTeam">
                                                                Done
                                                            </button></center>
                                                        <center><span ng-show="submittedTeam">Submitted successfully.</span></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-primary'>
                                                        <uib-accordion-heading>                                                   
                                                            Languages Information
                                                        </uib-accordion-heading>
                                                        <div class="form-group" ng-init="loadLanguageList()">
                                                            <label>Language</label><span class="required">*</span>
                                                            <select class="form-control" ng-model="additionalContactInfo.languageInfo.language" ng-required="true" name="additionallanguage">
                                                                <option ng-repeat="language in languageList">{{language.language}}</option>
                                                            </select>     
                                                        </div>
                                                        <label>Explain if above is 'Other'</label>
                                                        <textarea ng-model="additionalContactInfo.languageInfo.explainifother" ng-maxlength="200" name="additionalexplainifotherL" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="form.additionalContactForm.additionalexplainifotherL.$error.maxlength">Input field explanation is too long.</span>
                                                        <div class="form-group">
                                                            <label>Speak/Write?</label>
                                                            <select class="form-control" ng-model="additionalContactInfo.languageInfo.speakwrite">
                                                                <option value="speak only">Speak only</option>
                                                                <option value="speak and write">Speak and write</option>
                                                            </select>     
                                                        </div>
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addLanguage()"
                                                                        ng-disabled="form.additionalContactForm.additionallanguage.$invalid || form.additionalContactForm.additionalexplainifotherL.$error.maxlength || submittedLanguage">
                                                                Done
                                                            </button>
                                                        &nbsp;<button type='button' class='btn btn-warning' ng-show='submittedLanguage' ng-click='addMoreLanguage()'>Add new language</button></center>
                                                        <center><span ng-show="submittedLanguage">Submitted successfully.</span></center>
                                                    </uib-accordion-group>
                                                    <uib-accordion-group class='panel panel-default'>
                                                        <uib-accordion-heading>                                                   
                                                            Skills and Assets
                                                        </uib-accordion-heading>
                                                        <div class="form-group" ng-init="loadLSAList()">
                                                            <label>Skills or Assets</label><span class="required">*</span>
                                                            <select class="form-control" ng-model="additionalContactInfo.skillassetInfo.skillasset" ng-required="true" name="LSA">
                                                                <option ng-repeat="lsa in LSAList">{{lsa.lsaClass}}</option>
                                                            </select>     
                                                        </div>
                                                        <label>Explain if above is 'Other'</label>
                                                        <textarea ng-model="additionalContactInfo.skillassetInfo.explainifother" ng-maxlength="200" name="additionalexplainifotherLSA" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="form.additionalContactForm.additionalexplainifotherLSA.$error.maxlength">Input field explanation is too long.</span>
                                                        <label>Remarks</label>
                                                        <textarea ng-model="additionalContactInfo.skillassetInfo.remarks" ng-maxlength="200" name="LSAremarks" style='width: 100%; min-height: 80px' contenteditable="true" spellcheck="true"></textarea>
                                                        <span ng-show="form.additionalContactForm.LSAremarks.$error.maxlength">Input field remarks is too long.</span>
                                                        <br><br>
                                                        <center><button type="button" class="btn btn-primary" ng-click="addSkillasset()"
                                                                        ng-disabled="form.additionalContactForm.additionalexplainifotherLSA.$invalid || form.additionalContactForm.additionalexplainifotherLSA.$error.maxlength 
                                                                                    || form.additionalContactForm.LSAremarks.$error.maxlength ||submittedLSA">
                                                                Done
                                                            </button>
                                                        &nbsp;<button type='button' class='btn btn-warning' ng-show='submittedLSA' ng-click='addMoreLSA()'>Add new skills and assets</button></center>
                                                        <center><span ng-show="submittedLSA">Submitted successfully.</span></center>
                                                    </uib-accordion-group>
                                                </form>
                                            </uib-accordion>
                                        </div>
                                        <div class="modal-footer" ng-show="result.message">
                                            <button type="button" class="btn btn-primary" ng-click="addContact()" data-dismiss="modal">Thank you, I'm done.</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <!-- /.box-footer-->
                    <!-- /.box -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        
        <script>
            $(document).ready(function () {
                $('#contact-date-of-birth-picker').datepicker({
                    format: "dd-M-yyyy",
                    autoclose: true,
                    endDate: new Date()
                });
            });
        </script>
    </body>
</html>
