<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper inner-content-wrapper" id="view-all-contacts"  cg-busy="{promise:myPromise,templateUrl:'./style/ngTemplate/cgBusy.html',minDuration:1500}">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="" ng-click="backHome()"> Homepage </a><i class="fa fa-chevron-right small"></i> <a href="" ng-click="viewContact()"> Contact Management </a><i class="fa fa-chevron-right small"></i> <a> View Contacts </a></li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <!-- view contact starts -->
                <div class="box" ng-init="retrieveAllContacts()">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> View all contacts </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="View All Contacts">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">                        
                        <div class="col-md-12" style="padding: 0px">
                            <label class="col-md-1" style="padding: 0px">
                                Show Entries:
                            </label>
                            <div class="col-md-1" style="padding: 0px">
                                <select class="form-control" ng-model="itemsPerPage" ng-change="itemsPerPageChanged()">
                                    <option>1</option>
                                    <option>3</option>
                                    <option>5</option>
                                    <option>7</option>
                                    <option>9</option>
                                    <option value="toAll">All</option>
                                </select>
                            </div>
                            <div class="col-md-offset-6 col-md-4" style="padding: 0px">
                                <input type="text" class="form-control" placeholder="Search Contact" ng-model="searchContacts" />
                                <br />
                            </div>
                        </div>
                        <p style="margin-bottom: 0px">
                            <span><label>Total Entries: </label>&nbsp;</span><span style="color: red">{{allFilteredContacts.length}}</span> 
                            &nbsp;&nbsp;
                            <span> <label> Entries per page: </label>&nbsp;</span>
                            <span ng-hide="isAll" style="color: red">{{itemsPerPage}}</span>
                            <span ng-show="isAll" style="color: red">All</span>
                            &nbsp;&nbsp;
                            <span> <label> Entries in page: </label>&nbsp;</span><span style="color: red">{{splitContacts.length}}</span> 
                        </p>
                        <div class="table-horizontal-scroll">
                            <table id="example1" class="table table-bordered table-striped" ng-show="showFive" style="max-width: 100%">
                                <thead>
                                    <tr>
                                        <th ng-repeat="contactHead in allContactObjectKeySliced"><a href="" ng-click="order(contactHead)" style='color: #005384'>{{contactHead}}</a></th>
                                        <th ng-if="isAuthorised"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="contact in splitContacts| orderBy:predicate:reverse">
                                        <td><a href="" ng-click="foo($event, contact)">{{contact.name}}</a></td>
                                        <td>{{contact.phone}}</td>
                                        <td>{{contact.email}}</td>
                                        <td>{{contact['contact_type']}}</td>
                                        <td>{{contact['permission_level']}}</td>
                                        <td ng-if="isAuthorised"><span><a href="" uib-tooltip-placement="top" uib-tooltip="Edit" ng-click="editContact($event, contact)"><i class="fa fa-edit fa-lg" aria-hidden="true" style='color: #0d1957'></i> </a></span>&nbsp;<span ng-show="canDelete"><a href="" uib-tooltip-placement="top" uib-tooltip="Delete" ng-click="deleteContact($event, contact)"> <i class="fa fa-trash fa-lg" aria-hidden="true" style='color: #ef0606'></i></a></span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th ng-repeat="contactHead in allContactObjectKeySliced">{{contactHead}}</th>
                                        <th ng-if="isAuthorised"></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <table id="example1" class="table table-bordered table-striped" ng-hide="showFive" style="max-width: 100%">
                                <thead>
                                    <tr>
                                        <th ng-repeat="contactHead in allContactObjectKeySliced"><a href="" ng-click="order(contactHead)" style='color: #005384'>{{contactHead}}</a></th>
                                        <th ng-if="isAuthorised"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="contact in splitContacts| orderBy:predicate:reverse">
                                        <td><a href="" ng-click="foo($event, contact)">{{contact.name}}</a></td>
                                        <td>{{contact.email}}</td>
                                        <td>{{contact['contact_type']}}</td>
                                        <td>{{contact['permission_level']}}</td>
                                        <td ng-if="isAuthorised"><span><a href="" uib-tooltip-placement="top" uib-tooltip="Edit" ng-click="editContact($event, contact)"><i class="fa fa-edit fa-lg" aria-hidden="true" style='color: #0d1957'></i> </a></span>&nbsp;<span ng-show="canDelete"><a href="" uib-tooltip-placement="top" uib-tooltip="Delete" ng-click="deleteContact($event, contact)"> <i class="fa fa-trash fa-lg" aria-hidden="true" style='color: #ef0606'></i></a></span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th ng-repeat="contactHead in allContactObjectKeySliced">{{contactHead}}</th>
                                        <th ng-if="isAuthorised"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div>
                            <div style='float: right'>
                                <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
                            </div>
                            <br/>
                            <div style='float: left'>
                                <pre>Page: {{currentPage}} / {{totalPages}}</pre>
                            </div>
                        </div>
                    </div>
                    <!-- view contact ends -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </body>
</html>
