<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper inner-content-wrapper" id="view-audit"  cg-busy="{promise:myPromise, templateUrl:'./style/ngTemplate/cgBusy.html',minDuration:800}">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="" ng-click="backHome()"> Homepage</a> <i class="fa fa-chevron-right small"></i><a> Global Settings </a></li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <!-- view contact starts -->
                <div class="box">
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Global Settings </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool"  data-toggle="tooltip" title="Show Global Settings">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Select drop-down list to edit: </label>
                                <select class="form-control" ng-Model="selectedList" ng-change="getList()">
                                    <option disabled selected value>--Select a List--</option>
                                    <option value="1">Contact Type List</option>
                                    <option value="2">Event Class List</option>
                                    <option value="3">Event Location List</option>
                                    <option value="4">Event Status List</option>
                                    <option value="5">LSA Class List</option>
                                    <option value="6">Language List</option>
                                    <option value="7">Membership Class List</option>
                                    <option value="8">Mode Of Sending Receipt List</option>
                                    <option value="9">Office List</option>
                                    <option value="10">Payment Mode List</option>
                                    <option value="11">Permission Level List</option>
                                    <option value="12">Team Affiliation List</option>
                                </select>     
                            </div>
                            <div class="col-md-9">
                                <table ui-tree id="tree-root" class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Sort<i class="fa fa-question-circle" style="margin-left:3px;" uib-popover="Drag the directional arrows and drop!" popover-trigger="mouseenter"></i></th>
                                            <th width="80%">Name</th>
                                            <th>
                                                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newItem()" uib-tooltip="Add New" ng-disabled="listNotChosen"><span
                                                        class="glyphicon glyphicon-plus"></span></a>
                                            </th>		   
                                        </tr>
                                    </thead>
                                    <tbody ui-tree-nodes ng-model="list">
                                        <tr ng-repeat="item in list" ui-tree-node>
                                            <td>
                                                <i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i> 
                                            </td>
                                            <td>
                                                <strong>{{item}}</strong> 
                                            </td>
                                            <td>
                                                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)" uib-tooltip="Remove">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <center><button type="submit" ng-click="submit()" class="btn btn-primary" ng-disabled="listNotChosen">Update List</button></center>
                    </div>
                    <!-- view contact ends -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </body>
</html>