<div class="modal-header">
            <h3 class="modal-title">Enter Service Comment:</h3>
        </div>
<div class="modal-body">
    <div ng-form name="serviceCommentForm">
        <input type="text" name="serviceCommentInput" class="form-control" ng-maxlength="1000" ng-required="true" ng-Model="input">
        <span class="error" ng-show="serviceCommentForm.serviceCommentInput.$error.required && serviceCommentForm.serviceCommentInput.$touched">Please enter your comment!</span>
        <span ng-show="serviceCommentForm.serviceCommentInput.$error.maxlength" class='error'>Input for 'Service Comment' is too long.</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="serviceCommentForm.serviceCommentInput.$error.required || serviceCommentForm.serviceCommentInput.$error.maxlength">Done</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

