<div class="modal-header">
    <h3 class="modal-title">Assign Username & Password for <b>{{selectedUser.name}}</b></h3>
</div>
<div ng-form name="assignForm">
    <div class="col-md-12">
        <div class="col-md-6">
            <label>Username: </label>
            <input type="text" ng-model="$parent.username" class="form-control">
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <label>Password: </label>
            <input type="text" ng-model="$parent.password" class="form-control">
            <a href="" ng-click="generatePassword()">Generate Password</a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="$parent.username == '' || $parent.password == '' ">Ok</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>