<div class="modal-header">
            <h3 class="modal-title">Enter Reason:</h3>
        </div>
<div class="modal-body">
    <div ng-form name="reasonForm">
        <input type="text" name="reasonInput" class="form-control" ng-maxlength="1000" ng-required="true" ng-Model="input">
        <span class="error" ng-show="reasonForm.reasonInput.$error.required && reasonForm.reasonInput.$touched">Please enter your reason!</span>
        <span ng-show="reasonForm.reasonInput.$error.maxlength" class='error'>Input for 'Reason' is too long.</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="reasonForm.reasonInput.$error.required || reasonForm.reasonInput.$error.maxlength">Done</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
