<div class="modal-header">
    <h3 class="modal-title">Repeat</h3>
</div>
<div class="modal-body">
    <div ng-form name="repeatForm" class="col-md-12">
        <div class="col-md-12" style="padding:0px;">
            <div class="col-md-4">
                <label>Repeats:</label>
                <select name="mode" class="form-control" ng-model="repeat['mode']">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                </select>
            </div>
        </div>
        <div ng-show="repeat['mode'] == 'Daily'">
            <div class="col-md-12" style="padding:0px;">
                <div class='col-md-4'>
                    <label>Repeat Every:</label>
                    <select name="mode" class="form-control">
                        <option ng-repeat='num in number'>{{num}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" style="padding:0px;">
                <div class='col-md-4'>
                    <label>Starts on:</label>
                    <input type='text' ng-model="newEvent['event_start_date']" uib-datepicker-popup="{{format}}" class="form-control" readonly/>
                </div>
            </div>
            <div class="col-md-12" style="padding:0px;">
                <div class="col-md-6">
                    <label>Ends:</label><br>
                    <input type="radio" name="end" ng-model="checked" checked> After <input type="text" class="form-control"/> occurrences<br>
                    <input type="radio" name="end"> On <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
        <div ng-show="repeat['mode'] == 'Weekly'">
            Hello Weekly
        </div>
        <div ng-show="repeat['mode'] == 'Monthly'">
            <!--            <label>Award Hours:</label>
                        <input type='text' ng-model="awardHours" name="hours" class="form-control" min="0" ng-pattern="regex" placeholder='0'/>-->
            Hello Monthly
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="serviceCommentForm.serviceCommentInput.$error.required || serviceCommentForm.serviceCommentInput.$error.maxlength || serviceCommentForm.hours.$invalid">Done</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>