<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
    </button>
    <h3 class="modal-title">{{selectedReport}}</h3>
</div>
<div>
    <form name="reportForm">
        <div class="row" ng-show="selectedReport == 'summary_report_of_team_participants'">
            <div class="form-group col-md-12">
                <div class="col-md-5" ng-init="loadTeamAffiliationList()">
                    <label>Team</label><span class="required">*</span>
                    <select class="form-control" ng-model="$parent.team" name='team1'>
                        <option value="">All</option>
                        <option ng-repeat="teamAffiliation in teamAffiliationList">{{teamAffiliation.teamAffiliation}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-5">
                    <label>Start date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openStart($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.startdate" ng-click="openStart($index)" uib-datepicker-popup="{{format}}" is-open="openedStart[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="startdate1" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5">
                    <label>End date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openEnd($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.enddate" ng-click="openEnd($index)" uib-datepicker-popup="{{format}}" is-open="openedEnd[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="enddate1" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <label>Filename (Default value is the selected report name)</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="$parent.fileName">
                </div>
            </div>
        </div>
        <div class="row" ng-show="selectedReport == 'summary_report_of_events'">
            <div class="form-group col-md-12">
                <div class="col-md-5" ng-init="loadTeamAffiliationList()">
                    <label>Team</label><span class="required">*</span>
                    <select class="form-control" ng-model="$parent.team" name='team2'>
                        <option value="">All</option>
                        <option ng-repeat="teamAffiliation in teamAffiliationList">{{teamAffiliation.teamAffiliation}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12" ng-init='loadEventStatusList()'>
                <div class="col-md-5">
                    <label>Start date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openStart($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.startdate" ng-click="openStart($index)" uib-datepicker-popup="{{format}}" is-open="openedStart[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="startdate2" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5">
                    <label>End date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openEnd($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.enddate" ng-click="openEnd($index)" uib-datepicker-popup="{{format}}" is-open="openedEnd[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="enddate2" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <label>Filename (Default value is the selected report name)</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="$parent.fileName">
                </div>
            </div>
        </div>
        <div class="row" ng-show="selectedReport == 'summary_report_of_memberships_by_time_period'">
            <div class="form-group col-md-12" ng-init="loadMembershipList()">
                <div class="col-md-5">
                    <label>Start date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openStart($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.startdate" ng-click="openStart($index)" uib-datepicker-popup="{{format}}" is-open="openedStart[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="startdate3" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5">
                    <label>End date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openEnd($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.enddate" ng-click="openEnd($index)" uib-datepicker-popup="{{format}}" is-open="openedEnd[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="enddate3" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <label>Filename (Default value is the selected report name)</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="$parent.fileName">
                </div>
            </div>
        </div>
        <div class="row" ng-show="selectedReport == 'summary_report_of_donations_by_time_period'">
            <div class="form-group col-md-12">
                <div class="col-md-5" ng-init="loadPaymentModeList()">
                    <label>Payment mode</label><span class="required">*</span>
                    <select class="form-control" ng-model="$parent.paymentMode" name='paymentMode' empty>
                        <option ng-repeat="paymentMode in paymentModeList">{{paymentMode.paymentMode}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-5">
                    <label>Start date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openStart($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.startdate" ng-click="openStart($index)" uib-datepicker-popup="{{format}}" is-open="openedStart[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="startdate4" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5">
                    <label>End date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openEnd($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.enddate" ng-click="openEnd($index)" uib-datepicker-popup="{{format}}" is-open="openedEnd[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="enddate4" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <label>Filename (Default value is the selected report name)</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="$parent.fileName">
                </div>
            </div>
        </div>
        <div class="row" ng-show="selectedReport == 'summary_report_of_current_memberships'">
            <div class="form-group col-md-12">
                <div class="col-md-5" ng-init="loadMembershipList()">
                    <label>Membership type</label><span class="required">*</span>
                    <select ng-model="$parent.membershipType" name="membershipType" class="form-control" empty>
                        <option ng-repeat='membershipClass in membershipList'>{{membershipClass.membershipClass}}</option>
                    </select>
                </div>
                <div class="col-md-offset-2 col-md-5">
                    <label>Reference date</label><span class="required">*</span>
                    <div class="input-group date">
                        <div class="input-group-addon btn" ng-click="openRef($index)">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type='text' ng-model="$parent.refdate" ng-click="openRef($index)" uib-datepicker-popup="{{format}}" is-open="openedRef[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" name="refdate" class="form-control pull-right white-background" readonly empty>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <label>Filename (Default value is the selected report name)</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="$parent.fileName">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <center>
                <button class="btn btn-warning" type="button"
                        ng-show="selectedReport == 'summary_report_of_team_participants'"
                        ng-disabled="(reportForm.team1.$invalid || reportForm.startdate1.$invalid || reportForm.enddate1.$invalid)"
                        ng-click="ok()">Generate report</button>

                <button class="btn btn-warning" type="button"
                        ng-show="selectedReport == 'summary_report_of_events'"
                        ng-disabled="(reportForm.team2.$invalid || reportForm.startdate2.$invalid || reportForm.enddate2.$invalid)"
                        ng-click="ok()">Generate report</button>

                <button class="btn btn-warning" type="button"
                        ng-show="selectedReport == 'summary_report_of_memberships_by_time_period'"
                        ng-disabled="(reportForm.startdate3.$invalid || reportForm.enddate3.$invalid)"
                        ng-click="ok()">Generate report</button>

                <button class="btn btn-warning" type="button"
                        ng-show="selectedReport == 'summary_report_of_donations_by_time_period'"
                        ng-disabled="(reportForm.paymentMode.$invalid || reportForm.startdate4.$invalid || reportForm.enddate4.$invalid)"
                        ng-click="ok()">Generate report</button>

                <button class="btn btn-warning" type="button"
                        ng-show="selectedReport == 'summary_report_of_current_memberships'"
                        ng-disabled="(reportForm.membershipType.$invalid || reportForm.refdate.$invalid)"
                        ng-click="ok()">Generate report</button>
            </center>
        </div>
    </form>
</div>