<div class="ngdialog-message">
    <h3><b>Are you sure you want to send the verification email to user(s):</b></h3>
    <div>
        <ul>
            <li ng-repeat="user in toResendNameList track by $index">
                {{user}}
            </li>
        </ul>
    </div>
    <div class="ngdialog-buttons" style="padding-top: 20px;">
        <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeThisDialog()">No</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Yes</button>
    </div>
</div>

