<div class="modal-header">
            <h3 class="modal-title">Search Participant:</h3>
        </div>
<div class="modal-body">
    <div ng-form name="searchAddForm">
        <input type="text" placeholder="Search Contacts..." class="form-control" ng-Model="input" uib-typeahead="contact as contact.name for contact in allContactInfo | filter:$viewValue | limitTo:8" typeahead-template-url="style/ngTemplate/contactList-tpl.html" typeahead-on-select='onSelect($item, $model, $label)'>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

