<html>
    <head>
        <title>Email Verified</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body background="./style/img/emailbg.jpg">
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Your Email is verified successfully!</h1>
                <br>
                <a href="https://rms.twc2.org.sg/bahamas" class="btn btn-dark btn-lg">To Bahamas</a>
            </div>
        </header>
    </body>
</html>