<html>
    <head>
        <title>Email Verified</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/css/bootstrap.min.css">
        <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
        <link href="../../../style/css/custom.css" rel="stylesheet" type="text/css"/>
    </head>
    <body style="background-image:url(../../../style/img/email_verified_image_v1.jpg); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover; -moz-background-size: cover;">
        <div class="text-vertical-center">
            <a href="https://rms.twc2.org.sg/bahamas" class="hyperlink">GO TO BAHAMAS</a>
        </div>
    </body>
</html>