<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper inner-content-wrapper" id="view-audit"  cg-busy="{promise:myPromise, templateUrl:'./style/ngTemplate/cgBusy.html',minDuration:1300}">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="" ng-click="backHome()" class="content-header-link"> Homepage</a> <i class="fa fa-chevron-right small"></i><a> Audit Log </a></li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <!-- view contact starts -->
                <div class="box" ng-init="retrieveAllAuditLog()" >
                    <div class="box-header with-border" data-widget="collapse">
                        <h3 class="box-title uppercase"> Audit log </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool"  data-toggle="tooltip" title="Show Audit Log">
                                <i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">                        
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <label>
                                    Show Entries:
                                </label>
                                <select class="form-control" ng-model="itemsPerPage" ng-change="itemsPerPageChanged()">
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>
                                    <option value="250">250</option>
                                    <option value='toAll'>All</option>
                                </select>
                            </div>
                            <div class="col-md-offset-1 col-md-2">
                                <label>
                                    Date Start:
                                </label>
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" ng-model="dateStart" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Date Start"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Date End:
                                </label>
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="open2()" uib-datepicker-popup="{{format}}" placeholder="Date End" ng-model="dateEnd" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-offset-2 col-md-3">
                                <label>Search:</label>
                                <input type="text" class="form-control" placeholder="Search Audit Log" ng-model="searchAudit"/>
                            </div>
                        </div>
                        <p style="margin-bottom: 0px">
                            <span><label>Total Entries: </label>&nbsp;</span><span class="denote">{{searchFiltered.length}}</span> 
                            &nbsp;&nbsp;
                            <span> <label> Entries per page: </label>&nbsp;</span>
                            <span ng-hide="isAll" class="denote">{{itemsPerPage}}</span>
                            <span ng-show="isAll" class="denote">All</span>
                            &nbsp;&nbsp;
                            <span> <label> Entries in page: </label>&nbsp;</span><span class="denote">{{filteredAudit.length}}</span> 
                            <span class="pull-right"><button class="btn btn-link" ng-click="exportData()">Export Audit Log</button></span>
                        </p>
                        <div class="table-horizontal-scroll" id="example1">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th ng-repeat="auditHeader in allAuditObjectKeys">{{auditHeader}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="audit in filteredAudit">
                                        <td ng-repeat="auditInfo in audit">{{auditInfo}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th ng-repeat="auditHeader in allAuditObjectKeys">{{auditHeader}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div>
                            <div style='float: right'>
                                <uib-pagination total-items="totalFilteredItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
                            </div>
                            <br/>
                            <div style='float: left'>
                                <pre>Page: {{currentPage}} / {{totalPages}}</pre>
                            </div>
                        </div>
                    </div>
                    <!-- view contact ends -->
                </div>
            </section>
            <!-- /.content -->
        </div>
    </body>
</html>
