<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin:0px" style='min-height: 900px' id="view-audit">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb" style="font-size: 24px; background-color: rgba(11, 60, 128, 0.75); color: white">
                        <li><i class="fa fa-home"></i><a ng-click="backHome()" style="color: white"> Homepage</a> <i class="fa fa-chevron-right small"></i> Audit Log </li>
                    </ol>                    
                </h3>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <!-- view contact starts -->
                <div class="box" ng-init="retrieveAllAuditLog()">
                    <div class="box-header with-border">
                        <h3 class="box-title"> AUDIT LOG </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">                        
                        <div class="row">
                            <label class="col-md-1" style="padding: 0px">
                                Show Entries:
                            </label>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="itemsPerPage" ng-change="itemsPerPageChanged()">
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="200">200</option>
                                    <option value="250">250</option>
                                    <option value='toAll'>All</option>
                                </select>
                            </div>
                            <div class="col-md-3" style="float:right">
                                <input type="text" class="form-control" placeholder="Search Audit Log" ng-model="searchAudit" />
                                <br />
                            </div>
                            <!--                            <div class="col-md-2">
                                                            <input type="text" class="form-control" placeholder="Date Start" ng-model="dateStart" />
                                                        </div>
                            
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control" placeholder="Date End" ng-model="dateEnd" />
                                                        </div>-->
                            <div class="col-md-2">
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" ng-model="dateStart" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Date Start"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>

                            <div class="col-md-2">
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="open2()" uib-datepicker-popup="{{format}}" placeholder="Date End" ng-model="dateEnd" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <table>
                                    <tr>
                                        <th>Total Entries: </th>
                                        <td>{{searchFiltered.length}}</td>
                                        <th>Entries per page:</th>
                                        <td ng-hide="isAll">{{itemsPerPage}}</td>
                                        <td ng-show="isAll">All</td>
                                        <th>Entries in page: </th>
                                        <td>{{filteredAudit.length}}</td>
                                        
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th ng-repeat="auditHeader in allAuditObjectKeys">{{auditHeader}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="audit in filteredAudit">
                                    <td ng-repeat="auditInfo in audit">{{auditInfo}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th ng-repeat="auditHeader in allAuditObjectKeys">{{auditHeader}}</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div>
                            <div style='float: right'>
                                <uib-pagination total-items="totalFilteredItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
                            </div>
                            <br/>
                            <div style='float: left'>
                                <pre>Page: {{currentPage}} / {{totalPages}}</pre>
                            </div>
                        </div>
                    </div>
                    <!-- view contact ends -->
            </section>
            <!-- /.content -->
        </div>


        <script>
            $(document).ready(function () {
                $('#contact-date-of-birth-picker').datepicker({
                    format: "dd-M-yyyy",
                    autoclose: true
                });
            });
        </script>
    </body>
</html>
