/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Jul-2016, 11:42:55
    Author     : Thalia Nguyen Thao && Marcus Ong
    Any overriding in css please put it in here; don't edit directly into AdminLTE or bootstrap css files
*/

/*General css styling*/
html,
body {
    height: 100%;
/*    font-family:  'Roboto Slab', serif !important;
    font-size: 14px;*/
}
/*
@font-face {
    font-family: 'Tangerine', cursive !important;
}*/

.bold {
    font-weight: 600;
}

.denote, .error {
    color: #e02222;
}

.uppercase {
    text-transform: uppercase!important;
}

.lowercase {
    text-transform: lowercase!important;
}

.no-padding-right {
    padding-right: 0px!important;
}

.no-padding-left {
    padding-left: 0px!important;
}

.no-padding-top {
    padding-top: 0px!important;
}

.padding-bottom {
    padding-bottom: 15px;
}

.custom-height-1{
    min-height: 15px;
}

.control-label,
.required {
    color: #e02222;
    font-size: 14px;
    padding-left: 2px;
    font-weight: 800;  
}

.breadcrumb {
    font-size: 24px;
    background-color: rgba(11, 60, 128, 0.75);
    color: #fff;
}

.breadcrumb>li {
    display: block;
}

.breadcrumb a {
    color: white;
}

.breadcrumb a:hover {
    color: #a5d5ff;
}

.breadcrumb a:active {
    color: white;
}

.box-header button {
    float: right;
}

.box-title button {
    float: right;
    padding-top: 0;
}

.box-header > .box-tools [data-toggle="tooltip"] {
    padding-top: 0;
}

@media (max-width: 440px) {
    .box-header h5 {
        margin-right: 20px!important;
    }
}

.white-background {
    background-color: #ffffff!important;
}

.table-horizontal-scroll {
    overflow-x: auto;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    text-transform: capitalize;
}

.table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    text-transform: capitalize;
}

@media (max-width: 1000px) {
    .no-padding-top {
        padding-top: 15px!important;
    }
}

.no-information-grey {
    background-color: #dadde6;
}

/*my profile link color*/
li.user-header>p>a {
    color: rgba(255, 255, 255, 0.8);
}

li.user-header>p>a:hover,
li.user-header>p>a:active,
li.user-header>p>a:focus {
    color: #ffbca1;
}

#changepassword {
    padding-right: 45px;
    padding-left: 45px;
}
/*Custom background css for 404 and unauthorised pages*/
.notfound {
    background-color: #1e2945;
    color: white;
}

.notfound-header{
    font-size: 80px;
    font-weight: bold;
}

.notfound-text{
    margin-bottom: 50px;
    font-size: large;
}

.unauthorised {
    background-color: #640b0b;
    color: white;
}

.unauthorised-header {
    font-weight: bold;
    font-size: 70px;
}

.unauthorised-text{
    margin-bottom: 50px;
    font-size: large;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
    font-size: 20px;
}

@media (max-width: 420px) {
    .inner {
        font-size: 15px;
    }
    #below-button {
        margin-top: 15px;
    }
}

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

@media (max-width: 440px) {
    .unauthorised-header, .notfound-header {
        font-size: 45px;
    }
}

@media (min-width: 360px) {
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Handle the widths */
    .mastfoot,
    .cover-container {
        width: 80%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 1400px) {
    .mastfoot,
    .cover-container {
        width: 900px;
    }
}

@media (min-width: 1800px) {
    .mastfoot,
    .cover-container {
        width: 1100px;
    }
}

/*Forget password page*/
.forget-pass-page {
    background-color: white; 
    box-shadow: none;
}

.forget-pass-box {
    width: 600px;
    margin: 5% auto;
}

.forget-pass-box-body {
    padding-top: 250px;
    text-align: center;
}

.forget-pass-logo {
    padding-top: 150px;
    max-height: 500px;
    width: auto;
}

@media(max-width: 1024px) {
    .forget-pass-logo {
        padding-top: 80px;
        padding-left: 30%;
        max-height: 400px;
        width: auto;
    }
    .forget-pass-box-body {
        padding-top: 10px;
        text-align: center;
    }
}

@media(max-width: 768px) {
    .forget-pass-box {
        width: 80%;
        margin: 1% auto;
    }

    .forget-pass-box-body {
        padding-top: 0px;
        text-align: center;
    }

    .forget-pass-logo {
        padding-top: 100px;
        padding-left: 25%;
        max-height: 500px;
        width: auto;
    }
}

@media(max-width: 440px) {
    .forget-pass-box {
        width: 100%;
        margin: 1% auto;
    }

    .forget-pass-box-body {
        padding-top: 0px;
        text-align: center;
    }

    .forget-pass-logo {
        padding-top: 50px;
        padding-left: 20%;
        max-height: 350px;
        width: auto;
    }
}

/*Verified email page*/

.text-vertical-center {
    position: fixed;
    bottom: 0;
    padding: 30px;
}

div.text-vertical-center > a.hyperlink {
    color: white;
    font-size: x-large;
    text-decoration: blink;
}

div.text-vertical-center > a.hyperlink:hover {
    color: #c7e6fa;
    font-size: x-large;
    text-decoration: blink;
}

@media(max-width: 440px) {
    .text-vertical-center {
        position: fixed;
        bottom: 0;
        padding: 15px;
    }
    div.text-vertical-center > a.hyperlink {
        color: white;
        font-size: medium;
        text-decoration: blink;
    }
    div.text-vertical-center > a.hyperlink:hover {
        color: #c7e6fa;
        font-size: medium;
        text-decoration: blink;
    }
}

/*Login logo and login page*/
.twc2-logo {
    max-width: 100%;
    max-height: 90%;
}

.login-logo-b,
.login-logo,
.register-logo {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}

.login-page,
.register-page {
    background: #ffffff;
}

.alert, .alert-danger {
    margin-left: 20px;
    margin-right: 20px;
}

@media(max-width: 768px) {
    .twc2-logo,
    .login-box-body, 
    .register-box-body {
        padding-top: 50px;
        max-width: 70%;
        max-height: 50%;
    }
}

@media(max-width: 440px) {
    .login-box-body, 
    .register-box-body {
        padding-top: 0px;
        max-width: 100%;
        max-height: 100%;
    }
}

/*Collapsing sidebar*/
aside.control-sidebar.control-sidebar-dark-control-sidebar-open,
div.wrapper > aside.main-sidebar {
    position: fixed;
}
    
@media(min-width: 768px) {
    .sidebar-mini .sidebar-collapse .content-wrapper, 
    .sidebar-mini .sidebar-collapse .right-side, 
    .sidebar-mini .sidebar-collapse .main-footer {
        margin-left: 25px !important;
    }
}

/*sidebar settings for mobile devices*/
@media (max-width: 767px) {
    .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
        transform: translate(120px, 0);
    }
    
    div.wrapper.sidebar-open > aside.main-sidebar {
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }
    
    aside.control-sidebar.control-sidebar-dark-control-sidebar-open {
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }
    
    .main-sidebar, .left-side, .control-sidebar {
        padding-top: 50px;
    }
}

/* Main content wrapper */
@media (max-width: 440px) {
    .sidebar-open .custom-wrapper-1 {
        transform: translate(0,0);
        overflow-x: auto;
    }
    .sidebar-open .inner-content-wrapper {
        transform: translate(230px,0);
    }
    .main-header .sidebar-toggle {
        position: fixed;
    }
}

.content-wrapper {
    min-height: 800px;
}

.inner-content-wrapper {
    margin: 0px;
}

/*.content-wrapper, .right-side, .main-footer {
    transition: none;
}*/

/*Main page logo*/
.skin-blue .main-header .logo{
    background-color: #222d32; 
    position: fixed;
}

/*Top navigation bar*/
.skin-blue .main-header .navbar-static-top {
    background-color: rgb(17, 78, 116);
}

/*Profile and logout button*/
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    background-color:#3c8dbc;
    color:white
}

/*Navbar button effect*/
.skin-blue .main-header .navbar .nav>li>a:hover, 
.skin-blue .main-header .navbar .nav>li>a:active, 
.skin-blue .main-header .navbar .nav>li>a:focus, 
.skin-blue .main-header .navbar .nav .open>a, 
.skin-blue .main-header .navbar .nav .open>a:hover, 
.skin-blue .main-header .navbar .nav .open>a:focus, 
.skin-blue .main-header .navbar .nav>.active>a {
    background : rgb(8, 50, 80);
}

/*Search sidebar*/
.sidebar-form {
  overflow: visible;
}

/*customized box with different box border colours*/
.blue-box {
    border-top-color: #135a8a;
}
.maroon-box {
    border-top-color: #70103F;
}
.green-box {
    border-top-color: #004d00;
}

.coral-box-header {
    background-color: #3c8dbc;
    color: white;
}

/*hidden box for edit and view contact*/
.hidden-box {
    padding: 20px 20px 20px 20px;
}

.hidden-blue-box {
    background: rgb(124, 168, 197);
    padding: 20px 20px 0px 20px;
}

/*remarks textarea for create and edit contact*/
.custom-remarks {
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
}

/*google map*/
.angular-google-map-container{
    height: 200px;
}

/*profile picture*/
#profile-pic {
    border: 5px solid #ddd;
    max-width: 50%;
    max-height: 50%;
}

#profile-pic-modal {
    border: 5px solid #ddd;
}

.profile-modal-footer {
    border-top: none;
}

.drop-box {
    background: #FFF;
    border: 5px solid #DDD;
    width: 100%;
    height: 100%;
    text-align: center;
}
    
.dragover {
    border: 5px solid rgba(11, 60, 128, 0.75);
}

.file-upload {
    padding: 85px 0;
}

.user-panel > .image > img {
    height: 45px;
    width: 45px;
}

.img-resize {
    width: 240px;
    height: 240px;
}

.img-resize-1 {
    width: 230px;
    height: 230px;
}

/*multiple-select dropdownlist

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}*/

.export-table {
    border: solid 1px #de0606;
}
/*
.export-table-header {
    background-color: blueviolet;
}*/

.resend-email {
    margin-top: 5px;
}

.notification {
    color: purple !important;
}

.notification-border {
    border: 1px solid #F4F4F4 !important;
}

.legend {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.joined {
  background: green;
}

.created{
  background: #13b4ff;
}

.past{
  background: black;
}