/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Jul-2016, 11:42:55
    Author     : Thalia Nguyen Thao && Marcus Ong
    Any overriding in css please put it in here; don't edit directly into AdminLTE or bootstrap css files
*/

/*General css styling*/
html,
body {
    height: 100%;
}

.breadcrumb {
    font-size: 24px;
    background-color: rgba(11, 60, 128, 0.75);
    color: #fff;
}

.bold {
    font-weight: 600;
}

.no-padding-right {
    padding-right: 0px!important;
}

.no-padding-left {
    padding-left: 0px!important;
}

.no-padding-top {
    padding-top: 0px!important;
}

.control-label,
.required {
    color: #e02222;
    font-size: 14px;
    padding-left: 2px;
    font-weight: 800;  
}

.custom-height-1{
    min-height: 15px;
}

.error {
    color: #e02222;
}

.uppercase {
    text-transform: uppercase!important;
}

.lowercase {
    text-transform: lowercase!important;
}

.white-background {
    background-color: #ffffff!important;
}

@media (max-width: 1000px) {
    .no-padding-top {
        padding-top: 15px!important;
    }
}

.no-information-grey {
    background-color: #dadde6;
}

/*Custom background css*/
.notfound {
    background-color: #1e2945;
    color: white;
}

.notfound-header{
    font-size: 80px;
    font-weight: bold;
}

.notfound-text{
    margin-bottom: 50px;
    font-size: large;
}

.unauthorised {
    background-color: #640b0b;
    color: white;
}

.unauthorised-header {
    font-weight: bold;
    font-size: 70px;
}

.unauthorised-text{
    margin-bottom: 50px;
    font-size: large;
}

/*Notfound and unauthorised pages*/
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

@media (max-width: 360px) {
/*    ???*/
}

@media (min-width: 360px) {
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Handle the widths */
    .mastfoot,
    .cover-container {
        width: 60%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 1400px) {
    .mastfoot,
    .cover-container {
        width: 900px;
    }
}

@media (min-width: 1800px) {
    .mastfoot,
    .cover-container {
        width: 1100px;
    }
}

/*Login logo and login page*/
.twc2-logo {
    max-width: 100%;
    max-height: 90%;
}

.login-logo-b,
.login-logo,
.register-logo {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}

.login-page,
.register-page {
    background: #ffffff;
}

@media(max-width: 768px) {
    .twc2-logo,
    .login-box-body, 
    .register-box-body {
        padding-top: 50px;
        max-width: 50%;
        max-height: 50%;
    }
}

@media(max-width: 420px) {
    .login-box-body, 
    .register-box-body {
        padding-top: 0px;
        max-width: 100%;
        max-height: 100%;
    }
}

/*Collapsing sidebar*/
@media(min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, 
    .sidebar-mini.sidebar-collapse .right-side, 
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 25px !important;
    }
}

/*Main page logo*/
.skin-blue .main-header .logo{
    background-color: #222d32; 
    position: fixed;
}

/*Top navigation bar*/
.skin-blue .main-header .navbar-static-top {
    background-color: rgb(17, 78, 116);
}

/*Profile and log out button*/
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    background-color:#3c8dbc;
    color:white
}

/*Navbar button effect*/
.skin-blue .main-header .navbar .nav>li>a:hover, 
.skin-blue .main-header .navbar .nav>li>a:active, 
.skin-blue .main-header .navbar .nav>li>a:focus, 
.skin-blue .main-header .navbar .nav .open>a, 
.skin-blue .main-header .navbar .nav .open>a:hover, 
.skin-blue .main-header .navbar .nav .open>a:focus, 
.skin-blue .main-header .navbar .nav>.active>a {
    background : rgb(8, 50, 80);
}

/*Search sidebar*/
.sidebar-form {
  overflow: visible;
}

/*custome box with different box border colours*/
.blue-box {
    border-top-color: #135a8a;
}
.maroon-box {
    border-top-color: #70103F;
}

/*editContact.html hidden box*/
.hidden-box {
    padding: 20px 20px 20px 20px;
}

.hidden-blue-box {
    background: rgb(124, 168, 197);
    padding: 20px 20px 0px 20px;
}

/*editContact.html remarks box*/

.custom-remarks {
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
}