<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row col-sm-offset-1 col-sm-10" style="padding-top: 15px">
            <div class="form-group">
                <input icheck-custom="blue" type="checkbox" class="flat-red" ng-model="formData.first">
                &nbsp;
                <label>
                    I declare that the information submitted is truthful.
                </label>
            </div>
            <div class="form-group">
                <input icheck-custom="blue" type="checkbox" class="flat-red" ng-model="formData.second">
                &nbsp;
                <label>
                    I have read and/or have been advised of TWC2's code of conduct for volunteers and I agree to abide by it.
                </label>
            </div>
            <div class="form-group">
                <input icheck-custom="blue" type="checkbox" class="flat-red" ng-model="formData['request_user']" checked>
                &nbsp;
                <label>
                    I request access to TWC2's Bahamas volunteering system.
                </label>
            </div>
        </div>
        <div class="form-group row" style="padding: 15px">
            <div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-block btn-primary" 
                   ng-disabled="!formData.first || !formData.second || !formData['request_user'] || 
                   formData.name == '' || formData.nric_fin == '' || formData.gender == '' || formData.nationality == '' || formData.dob == '' || formData.profession == '' || formData.remarks.length > 1000 ||
                   formData.country_code == '' || formData.phone_number == '' || formData.email == '' || formData.address == '' ||
                   formData.team == '' || formData.speak_write == ''" 
                   ng-click="processForm()">
                    Submit &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>
        </div>
    </body>
</html>
