<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    </head>
    <body>
        <div class="content-wrapper inner-content-wrapper" cg-busy="{promise:myPromise,templateUrl:'./style/ngTemplate/cgBusy.html',minDuration:700}">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="#/{{permission}}" ng-click="backHome()"> Homepage </a><i class="fa fa-chevron-right small"></i> <a> Remote Registration </a><i class="fa fa-chevron-right small"></i> <a> Form Management </a></li>
                    </ol>                    
                </h3>
            </section>
            <section class="content">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title uppercase"> Form Management </h3>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary" ng-click="newForm()">
                                <i class="fa fa-plus"></i> &nbsp; Activate New Form
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-3" style="padding-left: 0">
                                <label>Select forms to be retrieved</label> 
                                <select class="form-control" ng-model="formChoice">
                                    <option value="retrieveAllForm" selected>All Forms Activated</option>
                                    <option value="retrieveForm">Forms Activated By Me</option>
                                </select>
                            </div>
                            <div class="col-md-offset-1 col-md-2">
                                <label>
                                    Window Start:
                                </label>
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="openStart($index)" uib-datepicker-popup="{{format}}" ng-model="dateStart" is-open="openedStart[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" placeholder="Date Start">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openStart($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Window End:
                                </label>
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-click="openEnd($index)" uib-datepicker-popup="{{format}}" ng-model="dateEnd" is-open="openedEnd[$index]" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" placeholder="Date Start">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openEnd($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-offset-1 col-md-3">
                                <label>Search:</label>
                                <input type="text" class="form-control" placeholder="Search Forms" ng-model="searchForm"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <span><label>Total Entries: </label>&nbsp;</span><span style="color: red">{{filteredForms.length}}</span> 
                                &nbsp;&nbsp;
                                <span> <label> Entries per page: </label>&nbsp;</span>
                                <span ng-hide="isAll" style="color: red">{{itemsPerPage}}</span>
                                <span ng-show="isAll" style="color: red">All</span>
                            </p>
                        </div>
                        <div class="table-horizontal-scroll col-md-12" ng-show='resultData != ""'>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th ng-repeat="tableHead in tableHeader">
                                            <a href="" ng-click="order(tableHead)" style='color: #005384'>{{tableHead}}</a>
                                        </th>
                                        <th style='color: #005384'>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in filteredForms| orderBy:predicate:reverse | startFrom:currentPage*itemsPerPage | limitTo: itemsPerPage">
                                        <td ng-repeat="tInfo in tableHeader">
                                            <span ng-bind="result[tInfo]" ng-show="tInfo != 'Authentication code created'"></span>
                                            <a href="#/{{viewSelectedRegistration}}" ng-mousedown="viewRegistration($event, result)" ng-show="tInfo == 'Authentication code created'" uib-tooltip-placement="top" uib-tooltip="View Registration"><span ng-bind="result[tInfo]"></span></a>
                                        </td>
                                        <td>
                                            <div id="view-contacts">
                                                <button type="button" class="btn btn-box-tool" uib-tooltip-placement="top" uib-tooltip="Edit Form" ng-click="editForm($event, result)">
                                                    <i class="fa fa-edit fa-large" aria-hidden="true" style='color: #0d1957'></i>
                                                </button>
                                                <button type="button" class="btn btn-box-tool" uib-tooltip-placement="top" uib-tooltip="Delete Form" ng-click="deleteForm($event, result)">
                                                    <i class="fa fa-trash fa-large" aria-hidden="true" style='color: #ef0606'></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th ng-repeat="tableHead in tableHeader">
                                            <a href="" ng-click="order(tableHead)" style='color: #005384'>{{tableHead}}</a>
                                        </th>
                                        <th style='color: #005384'>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div>
                            <div style='float: right'>
                                <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPageIncrement" ng-change="pageChanged()" max-size="maxSize" boundary-link-numbers="true" force-ellipses="true"></uib-pagination>
                            </div>
                            <br/>
                            <div style='float: left'>
                                <pre>Page: {{currentPage +1}} / {{totalPages()}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
