<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    </head>
    <body>
        <div class="row col-sm-offset-1 col-sm-10" style="padding-top: 15px">
            <div class="form-group col-md-12">
                <div class="col-md-3" style="padding: 0px" ng-init="loadCountryCodes()">
                    <label>Country code</label><span class="required">*</span>
                    <input type="number" step="1" class="form-control" ng-model="formData['country_code']" ng-required="true" ng-change="updateCountryNames(formData['country_code'])" name="countrycode">            
                    <span>{{newCountryName}}</span>
                    <span ng-show="registration.countrycode.$error.required && registration.countrycode.$dirty" class="error">Country code is required.</span>
                </div>
                <div class="col-md-offset-3 col-md-6" style="padding: 0px">
                    <label>Phone number</label><span class="required">*</span>
                    <input type="text" ng-model="formData['phone_number']" ng-pattern="phoneRegex" ng-maxlength='20' ng-minlength="0" ng-required="true" name="phonenumber" class="form-control">
                    <span ng-show="registration.phonenumber.$error.pattern && registration.phonenumber.$touched" class='error'>Invalid phone number.</span>
                    <span ng-show="registration.phonenumber.$error.required && registration.phonenumber.$dirty" class='error'>Phone number is required.</span>
                    <span ng-show="registration.phonenumber.$error.maxlength" class='error'>Input field phone number is too long.</span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label>Email</label><span class="required">*</span>
                <input type="email" ng-model="formData.email" ng-pattern="emailRegex" ng-maxlength='50' ng-required="true" name="email" class="form-control">
                <span ng-show="registration.email.$error.pattern && registration.email.$touched" class='error'>Invalid email.</span>
                <span ng-show="registration.email.$error.required && registration.email.$dirty" class='error'>Email is required.</span>
                <span ng-show="registration.email.$error.maxlength" class='error'>Input field email is too long.</span>
            </div>
            <div class="form-group col-md-12">
                <label>Address</label><span class="required">*</span>
                <input type="text" ng-model="formData.address" ng-maxlength='1000' ng-required="true" name='address' class="form-control">
                <span ng-show="registration.address.$error.required && registration.address.$dirty" class='error'>Address is required.</span>
                <span ng-show="registration.address.$error.maxlength" class='error'>Input field address is too long.</span>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-4" style="padding: 0px">
                    <label>Zipcode</label>
                    <input type="text" ng-model="formData.zipcode" ng-maxlength='20' name='zipcode' class="form-control">
                    <span ng-show="registration.zipcode.$error.maxlength" class="error">Input field zipcode is too long.</span>
                </div>
                <div class="col-md-offset-1 col-md-7" style="padding: 0px" ng-init="loadCountryNames()">
                    <label>Country</label>
                    <select class="form-control" ng-model="formData.country">
                        <option ng-repeat="country in countryNames">{{country.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row" style="padding: 15px">
            <div class="col-sm-offset-4 col-sm-4">
                <button ui-sref="register.languageSkill" class="btn btn-block btn-primary" 
                        ng-disabled="registration.countrycode.$invalid || registration.phonenumber.$invalid || registration.email.$invalid || registration.address.$invalid || registration.zipcode.$invalid">
                    Next Section &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>
        </div>
    </body>
</html>
